[2015-03-31 15:40] SDavisMedia opened #1 "Add translation files"
Please and thanks!

[2015-04-23 14:34] mindctrl opened #2 "Goes to checkout when more than one download files exists"
When a download has more than one file in the File Downloads box, you get directed to the checkout instead of getting the normal popup.

[2015-05-04 13:54] mindctrl commented on #2
Another ticket for this here. https://easydigitaldownloads.com/support/topic/free-download-not-working/#post-514590

[2015-05-18 21:26] mindctrl commented on #2
@ghost1227 https://easydigitaldownloads.com/support/topic/free-download/

[2015-05-18 21:34] mindctrl opened #4 "Doesn't prevent downloads when email is banned."
People who have their email on the banned email list are allowed to download files.

[2015-05-18 21:42] pippinsplugins commented on #4
That'd be good to prevent :)

On Mon, May 18, 2015 at 4:34 PM, mindctrl <notifications@github.com> wrote:

[2015-05-27 23:32] ghost1227 commented on #4
Fixed with 48d5c2f09d5966a4970397ff0c2c44a20bf97bb0

[2015-05-27 23:32] #4 closed

[2015-05-27 23:56] ghost1227 commented on #2
Fixed with 630ea7f64187b724084cc7d55bc3db77520b152f

[2015-05-27 23:56] #2 closed

[2015-05-27 23:56] ghost1227 commented on #1
Done...

[2015-05-27 23:56] #1 closed

[2015-06-01 15:47] SDavisMedia opened #5 "Support for variable pricing"
I do think it's possible that a user would configure a download to have variable pricing but all price options are $0.00. They might do it just to separate download files.

Free Downloads doesn't seem to support this. Should it?

[2015-06-01 15:49] ghost1227 commented on #5
Ehhhhh... Maybe. Gimme a viable use case and I'll add it.

[2015-06-01 15:49] pippinsplugins commented on #5
That'd be magnificent

On Mon, Jun 1, 2015 at 10:47 AM, Sean Davis <notifications@github.com>
wrote:

[2015-06-01 15:51] pippinsplugins commented on #5
Shouldn't be hard to do it.

[2015-06-01 15:52] pippinsplugins commented on #5
Viable use case is super simple: people want to have a product with
multiple price options. If some one chooses the free option, checkout
should be skipped.

As simple as that.

On Mon, Jun 1, 2015 at 10:51 AM, Pippin Williamson <
pippin@pippinsplugins.com> wrote:

[2015-06-01 15:53] SDavisMedia commented on #5
@ghost1227 I already did.

[2015-06-01 16:19] ghost1227 commented on #5
@pippinsplugins is there a good way of updating the 'checkout' button label if a free product is selected? That's the biggest reason I never included it...

[2015-06-01 16:48] pippinsplugins commented on #5
Simple custom javascript

On Mon, Jun 1, 2015 at 11:19 AM, Ghost1227 <notifications@github.com> wrote:

[2015-06-05 04:34] cklosowski opened #6 "Needs to honor banned email list"

[2015-06-05 04:40] cklosowski commented on #6
Closing.

[2015-06-05 04:40] #6 closed

[2015-06-08 23:15] ghost1227 opened #7 "Bug when "Redirect to checkout" is checked"
RE: Ticket HS#10472

Not sure if you'd consider this a bug, but it baffled me for about 20 minutes. If you have "Immediately redirect to checkout after adding an item to the cart?" set on, and use Free Downloads, about 10 seconds after displaying the name/email popup, EDD redirects to the Checkout, which is empty. Probably should ignore that setting when displaying a free product with Free Downloa

[2015-06-09 14:15] mindctrl commented on #7
Just got a report of this.

[2015-06-10 20:00] mindctrl commented on #7
Making a note to update this customer when this is fixed. https://secure.helpscout.net/conversation/96185157/10454/

[2015-06-11 03:37] cklosowski opened #9 "Add nonce to form and process"
To reduce replay-ability, we should add a nonce to the form and process function.

[2015-06-11 14:27] pippinsplugins commented on #7
Just had another confirmed report of this.

[2015-06-11 15:39] ghost1227 commented on #7
It's getting fixed today

[2015-06-11 15:47] pippinsplugins commented on #7
:+1:

On Thu, Jun 11, 2015 at 10:39 AM, Ghost1227 <notifications@github.com>
wrote:

[2015-06-11 18:51] ghost1227 commented on #9
Added in 1.0.6

[2015-06-11 18:51] #9 closed

[2015-06-11 18:52] ghost1227 commented on #7
Fixed in 1.0.6

[2015-06-12 14:33] SDavisMedia opened #10 "Add textarea for information display in popup modal"
We talked about it in Help Scout. https://secure.helpscout.net/conversation/97097217/10735/

[2015-06-13 15:24] cklosowski commented on #9
Correction, it's in what will be 1.0.7.  :) just noting for historical accuracy.

[2015-06-14 04:01] ghost1227 opened #11 "Add option to disable emails for free downloads"
https://secure.helpscout.net/conversation/96476472/10549

[2015-06-14 04:02] ghost1227 opened #12 "Add option to exclude free downloads"
https://secure.helpscout.net/conversation/96289152/10483

[2015-06-14 04:14] ghost1227 opened #13 "Add non-modal download form"
https://secure.helpscout.net/conversation/97137128/10757

[2015-06-14 04:14] ghost1227 opened #14 "Add form customization"
Might be worth while to add a form customizer?

https://secure.helpscout.net/conversation/97137128/10757

[2015-06-14 04:16] ghost1227 opened #15 "LearnDash compatibility issue"
https://secure.helpscout.net/conversation/97161408/10762

[2015-06-14 04:42] ghost1227 commented on #15
Problem is in the Learndash plugin. I'll submit a patch.

[2015-06-14 04:55] #15 closed

[2015-06-14 21:38] SDavisMedia opened #16 "Add context to "Download Now" strings"
So we have a user who is okay with "Download Now" displaying on the purchase form submit button but he wants to change the submit button in the modal to "Send Download Link."

Unfortunately, each instance of this output is either going to use the `edd_free_downloads_button_label` option from the dashboard or, if left blank, its default, which has no context. So Say What? won't even work because th

[2015-06-14 22:09] ghost1227 commented on #16
Not necessary. Next version of FD gets rid of the redundancy in the plugin. Only one place to screw with now! Also, the modal/form will be MUCH more customizable in the next version (take a look at a few of the issues I opened yesterday).

[2015-06-14 23:20] SDavisMedia commented on #16
Nice! So how is this part going to work specifically? One place to handle it all would be great. But if the output is in more than one place, we still either need context or multiple EDD (or customizer) options added.

[2015-06-15 00:08] ghost1227 commented on #16
Still working through it... Gimme time ;)

[2015-06-15 03:23] pippinsplugins commented on #14
:+1:

On Sat, Jun 13, 2015 at 11:14 PM, Ghost1227 <notifications@github.com>
wrote:

[2015-06-15 03:23] pippinsplugins commented on #11
:+1:

On Sat, Jun 13, 2015 at 11:01 PM, Ghost1227 <notifications@github.com>
wrote:

[2015-06-15 03:23] pippinsplugins commented on #12
:+1:

On Sat, Jun 13, 2015 at 11:02 PM, Ghost1227 <notifications@github.com>
wrote:

[2015-06-15 03:23] pippinsplugins commented on #13
:+1:

On Sat, Jun 13, 2015 at 11:14 PM, Ghost1227 <notifications@github.com>
wrote:

[2015-06-15 06:27] ghost1227 commented on #14
For the record, form builders SUCK

[2015-06-15 12:50] pippinsplugins commented on #14
From a development perspective or usability?

[2015-06-15 12:54] ghost1227 commented on #14
Both I guess, but I meant from a dev perspective

[2015-06-15 15:11] SDavisMedia commented on #16
Haha you got it.

[2015-06-16 14:32] pippinsplugins commented on #7
This isn't working still.

[2015-06-16 14:32] pippinsplugins commented on #7
Is this the supposed fix for this? https://github.com/easydigitaldownloads/edd-free-downloads/commit/473469ccaa405648e679a0971505cbac2420de93

[2015-06-16 14:34] pippinsplugins commented on #7
If so, that's a buy now button, not the JS redirect.

This issue is referring to this option:
![screen shot 2015-06-16 at 9 32 48 am](https://cloud.githubusercontent.com/assets/1034109/8185545/b25a7c6c-140a-11e5-8cfd-c753396692a8.png)

That is controlled via JS in EDD core: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/assets/js/edd-ajax.js#L169

I'm not immediately su

[2015-06-16 14:46] pippinsplugins commented on #7
Proposed solution: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3508

That will actually work without an changes to Free Downloads being made.

[2015-06-16 14:55] pippinsplugins commented on #7
Ok closing this as fixed in EDD 2.4. No need for changes here.

[2015-06-16 14:55] #7 closed

[2015-06-19 03:27] mindctrl opened #17 "Feature request: bypass modal when user logged in"
Would be nice to bypass the modal when a user is logged in. [Requested here](https://secure.helpscout.net/conversation/98651233/11195/).

[2015-06-19 03:29] mindctrl commented on #17
Related request - if someone has downloaded a product during a session, bypass modal on subsequent downloads by reading email info from a cookie or something.

[2015-06-19 13:27] pippinsplugins commented on #17
Nice idea

On Thursday, June 18, 2015, mindctrl <notifications@github.com> wrote:

[2015-06-29 14:17] mindctrl opened #18 "Trouble retrieving payment receipt when logged in as non-admin user"
I've seen 2 reports of this now and was just able to replicate it locally. If you're logged in as a non-admin user and make a free purchase, you'll get an error on the purchase confirmation screen that says "Thank you for your purchase! Sorry, trouble retrieving payment receipt.".

To replicate: log in as a subscriber user and make a free download purchase. I also replicated this on users with aut

[2015-06-29 14:25] pippinsplugins commented on #18
@mindctrl Are you only seeing this with Free Downloads or also with non-free downloads purchases on the same site?

[2015-06-29 15:44] ghost1227 commented on #18
Also, what other plugins are activated?

[2015-06-29 15:45] pippinsplugins commented on #18
This is usually cased by page caching, either through a plugin or on the
server level.

On Mon, Jun 29, 2015 at 10:44 AM, Ghost1227 <notifications@github.com>
wrote:

[2015-06-29 20:41] mindctrl commented on #18
@ghost1227 @pippinsplugins
Only with purchases through Free Downloads. Non-free downloads work fine. 100% discounted through checkout work fine. No page or server caching locally.

Happens on two different local installs I've tested (in addition to 2 customer reports). One of my local instals has only EDD and Free Downloads active.

[2015-06-29 20:43] mindctrl commented on #18
Downloads > Purchase History shows the User as "guest", despite having been logged in while purchasing.

[2015-06-29 20:44] pippinsplugins commented on #18
That's going to be why.

@ghost1227 can you double check that the user information is properly passed to the purchase record please?

[2015-06-30 13:30] mindctrl commented on #18
Just a note for me to update [this customer](https://secure.helpscout.net/conversation/100075687/11592/).

[2015-07-06 06:27] SDavisMedia opened #20 "improve check for EDD"
Need to check for EDD before getting here or fatal error: https://github.com/easydigitaldownloads/edd-free-downloads/blob/master/includes/scripts.php#L21

[2015-07-06 09:12] ghost1227 commented on #20
It does check... https://github.com/easydigitaldownloads/edd-free-downloads/blob/master/edd-free-downloads.php#L469

The only guaranteed way to always prevent fatal errors is to wrap EVERY edd_get_option call in a check...

[2015-07-06 14:08] pippinsplugins commented on #20
@SDavisMedia was that perhaps caused by an old version of EDD?

[2015-07-06 14:13] SDavisMedia commented on #20
2.4.1 but that shouldn't matter in this case. Correct me if I'm wrong, but deactivating EDD should not cause a fatal error in any extension. It came from needing to temporarily deactivate EDD (I knew the risks before I did it, but that's how I find these errors). I had maybe 10 extensions activated at the time and Free Downloads is the only one that had a fatal error.

[2015-07-06 14:18] pippinsplugins commented on #20
It shouldn't trigger a fatal error.

Thing is . . . Dan's code looks correct. It shouldn't be loading . . .

[2015-07-06 14:26] chriscct7 commented on #20
Um, read the code again:
[code]

If EDD doesn't exist, still run the plugin anyways.

It totally doesn't work. Installed EDD, activated it. Installed this, activated it. Deactivated EDD. World is on fire.

[2015-07-06 14:26] pippinsplugins commented on #20
oh, what the fuclk.

@ghost1227

[2015-07-06 14:29] chriscct7 commented on #20
Should be:
[code]

[2015-07-06 14:31] mindctrl commented on #20
This is also in the boilerplate here, and probably a number of extensions built from it.  https://github.com/easydigitaldownloads/EDD-Extension-Boilerplate/blob/master/plugin-name/plugin-name.php#L232

[2015-07-06 14:41] pippinsplugins commented on #20
@ghost1227 please get an update pushed out for the boilerplate today.

[2015-07-25 04:06] mindctrl opened #21 "Settings header should match our current standards"
Current:
![image](https://cloud.githubusercontent.com/assets/1254870/8887815/e2ca9e30-3260-11e5-8ec9-8f9a3db0aeae.png)

New:
![image](https://cloud.githubusercontent.com/assets/1254870/8887818/eda64764-3260-11e5-8f56-756f1d8d899e.png)

[2015-07-25 18:19] pippinsplugins commented on #21
:+1:

On Friday, July 24, 2015, mindctrl <notifications@github.com> wrote:

[2015-07-26 21:58] SDavisMedia opened #23 "Support Purchase Limit"
Looks like Purchase Limit doesn't work alongside Free Downloads. Any chance Free Downloads can be enhanced to respect the button change and imposed limit?

[2015-08-06 14:01] mindctrl commented on #18
Reopening this as it created a different problem, and it doesn't jive up with what EDD core does. We might need to look at it there, but I have a ticket about this change.

When logged out, if you make a purchase using an email address of a user account already on the system, the purchase gets attached to the user account, but the logged out user can't view the purchase receipt details. They get "

[2015-08-06 19:51] pippinsplugins commented on #18
Do you know why it fails? Which part of the security check is failing?

[2015-08-08 04:29] mindctrl commented on #18
@pippinsplugins this: `$customer_id == 0 || $customer_id == '-1' `

that's because the payment user ID gets set [here](https://github.com/easydigitaldownloads/edd-free-downloads/blob/238761c5edefcd124466097cb0cceb7b6e720bf8/includes/functions.php#L66
) if there's an existing user with the email used on the purchase.

[2015-08-11 17:58] pippinsplugins commented on #23
@ghost1227 Could we get this added asap?

[2015-08-25 15:56] mindctrl commented on #5
Another request for this.

[2015-09-10 13:47] mindctrl opened #24 "Add option to make name fields required"
@ghost1227 Customer wants to make them required. Pippin asked that we add the option to make them required. Separate option or just make them required if the name option is turned on?

[2015-09-11 17:42] cklosowski opened #25 "Notice when file URL is external and attachment_id doesn't exist"
When the download being delivered via Free Downloads is an externally pasted URL (and therefore an attachment_id input isn't entered), the checkout process returns a notice:
`Notice: Undefined index: attachment_id in /Users/cklosowski/WordPress/src/wp-content/plugins/edd-free-downloads/includes/functions.php on line 91`
![screen shot 2015-09-11 at 10 42 10 am](https://cloud.githubusercontent.com/a

[2015-09-21 21:48] ghost1227 commented on #25
@cklosowski My fault, it actually shouldn't even be storing attachment_id... It should be storing download_id.

[2015-09-21 21:48] #25 closed

[2015-09-21 22:07] ghost1227 commented on #24
Fixed with af07852658e5d6b6e059876ca6b789ff73dc0ec5

[2015-09-21 22:07] #24 closed

[2015-09-21 22:08] #21 closed

[2015-09-21 22:08] #20 closed

[2015-09-23 15:33] SDavisMedia opened #26 "Feature Request: Show loading/processing graphic on submit button"
Not a bad idea: https://secure.helpscout.net/conversation/123306690/17450/

[2015-09-29 18:10] pippinsplugins commented on #26
The submit button should be disabled after it is clicked to prevent against multiple clicks.

[2015-09-29 19:59] mindctrl commented on #26
The commit for this affects all buttons on the page. They all spin.

![image](https://cloud.githubusercontent.com/assets/1254870/10176496/17a70a8a-66c3-11e5-8301-aee730bec3ba.png)

[2015-09-29 20:02] SDavisMedia commented on #26
@ghost1227 I watched this clip of the behavior: http://cl.ly/1n3W07310C1m Got a few questions/issue.

1. @mindctrl just pointed one out while I was typing this. :) When you first click the purchase form button, the loading icon shouldn't show just yet. Not until the form is submitted.

2. Any reason why we don't use the loading icon that EDD buttons already use? I feel like it's a cleaner icon and

[2015-09-30 03:11] ghost1227 commented on #26
@SDavisMedia Try it now

[2015-09-30 04:25] mindctrl commented on #26
I think the spinner action should happen on the button in the modal instead of closing the modal and spinning the 'Download Now' button that opened the modal.

[2015-09-30 05:51] ghost1227 commented on #26
It originally did... I added closing the modal a version or two ago, can't remember why though. If @SDavisMedia agrees, I'll go ahead and switch it back.

[2015-10-01 17:52] pippinsplugins commented on #26
@ghost1227 Can we have it on the `Download Now` button and leave the modal open?

[2015-10-03 00:25] mindctrl commented on #18
We fixed this in EDD core.

[2015-10-03 00:25] #18 closed

[2015-10-04 07:13] SDavisMedia commented on #26
@ghost1227 I definitely agree with the guys. I like the modal staying open with the graphic on that button.

[2015-10-05 18:14] ghost1227 commented on #26
@SDavisMedia @pippinsplugins I've moved it to the `Download Now` button and prevented the modal from closing but that causes two more problems. First, the user still has the ability to manually close the modal on their own. Second, there's no way for me to close the modal when the download completes!

[2015-10-09 03:51] ghost1227 commented on #26
@pippinsplugins @SDavisMedia ping?

[2015-10-09 04:25] mindctrl commented on #26
@ghost1227 what about this? in `edd-free-downloads.js` add `delayClose: 2000` (or whatever number feels right) where you load jBox (around line 20), and then `newModal.close();` around line 142?

[2015-10-09 16:11] SDavisMedia commented on #26
Gonna test now.

[2015-10-09 16:42] SDavisMedia commented on #26
I like what's going on in the `issue/26` branch @mindctrl made. `delayClose: 2000` has been a little short for me. If the setting is checked for redirect after download, the modal can stay open until the page redirects. If it's not checked, I think it could be a tad longer. That's a tough one.

As for the user being able to close the modal while it's loading, I honestly don't feel like that's our

[2015-10-13 15:59] mindctrl commented on #14
@ghost1227 would this allow people to show a opt-in/out button for the newsletter? We've had several requests to have a checkbox on the modal.

[2015-10-14 17:20] SDavisMedia opened #27 "Support for the EDD User History extension"
Possible?

[2015-10-14 17:30] SDavisMedia commented on #27
Sorry. Never mind. I don't think I'm having any problems with it.

[2015-10-14 17:30] #27 closed

[2015-10-16 17:17] mindctrl commented on #17
[Another request](https://secure.helpscout.net/conversation/130613277/19032/).

[2015-10-23 16:35] SDavisMedia commented on #5
Got another request. Refund pending.

[2015-10-23 16:43] SDavisMedia opened #28 "Support for Bundles"
Is there any particular reason why it can't support bundles? I think this would be a good enhancement.

[2015-11-06 07:21] ghost1227 commented on #26
@SDavisMedia The current iteration with the suggestions made by @mindctrl is in the currently staged changes for 1.1.0. I'm relatively happy with it, you've all said your peace... lets see what the users think!

[2015-11-06 07:38] #11 closed

[2015-11-06 07:45] ghost1227 commented on #16
Added an explicit option for this for now

[2015-11-06 07:45] #16 closed

[2015-11-06 07:46] ghost1227 commented on #13
Just for my clarification when I get around to this issue, the idea here is to add an option to set a 'free download page' with a shortcode that outputs the form rather than a modal.

[2015-11-06 14:51] pippinsplugins commented on #13
Yep, that should work fine. Kind of like a separate checkout form.

[2015-11-06 21:48] SDavisMedia commented on #28
Nope. At least give a reason.

[2015-11-07 05:24] #26 closed

[2015-11-18 03:43] SDavisMedia commented on #5
Another request. https://secure.helpscout.net/conversation/140079199/21493/?folderId=180499

[2015-11-23 14:46] mindctrl opened #36 "Internal error when submitting an empty email address in modal"
[Customer reported](https://secure.helpscout.net/conversation/141519016/21854/?folderId=180499) that when submitting the form without supplying an email address, you get a message that says "An internal error occurred, please try again or contact support."

Replicated locally. Screencast: http://cl.ly/43061G0G350z

[2015-12-02 17:34] SDavisMedia commented on #36
Just got another case for this. I also replicated locally. @ghost1227 Can you take a look at this today?

[2015-12-06 00:43] SDavisMedia commented on #36
I get the same behavior when an email address format is invalid.

With both situations, it appears that an error message attempts to display right there on the form. So no need to wp_die().

[2015-12-06 22:55] pippinsplugins commented on #36
@ghost1227 can we please get this fixed?

On Saturday, December 5, 2015, Sean Davis <notifications@github.com> wrote:

[2015-12-12 22:13] SDavisMedia commented on #36
Got another case.

[2015-12-13 16:47] mindctrl commented on #36
@SDavisMedia proposed fix in `issue/36`.

[2015-12-13 18:20] SDavisMedia commented on #36
@mindctrl When I tested, it disabled the submit button properly but once I entered the necessary information, it was still disabled.

That said, the original form is throwing errors just fine when the submit button is clicked and a required or necessary field does not have a value. The problem is the wp_die() that happens right after it. It seems to me like simply not dying is the answer.

[2015-12-13 18:26] mindctrl commented on #36
@SDavisMedia maybe sounds like cached JS if it didn't enable the submit button for you? Not seeing that here. What steps did you take that keep the button disabled?

Basically went this route because there's no need to even allow submission if the email is empty or invalid, which should prevent that wp_die message from kicking off.

[2015-12-13 18:40] SDavisMedia commented on #36
@mindctrl I basically tested with all form field scenarios. Requiring just email... requiring name and email... having the name fields but not requiring them. The submit button is getting disabled but then when I fix my errors (which I think should show on the form), clicking the submit button again still will not allow me to submit.

Also I just noticed that even when I click the disabled submit

[2015-12-14 19:29] #36 closed

[2015-12-14 19:34] SDavisMedia commented on #36
Works perfectly. :ok_hand:

[2015-12-23 15:04] mindctrl opened #40 "Doesn't support 'text link' option in [purchase_link] shortcode"
Free Downloads overrides the form and doesn't abide by the link style setting for purchase links. It always shows a button.

Example: `[purchase_link id="3164" style="text link" color="" text="I want a text link"]`

Customer reported and confirmed locally.

[2015-12-23 18:17] pippinsplugins commented on #40
@ghost1227 could you take care of this?

[2015-12-24 19:28] ghost1227 commented on #40
@pippinsplugins Yep! Completely forgot about that option. May not get to it until Saturday due to the holiday.

[2016-01-05 21:24] mindctrl commented on #17
[Another request](https://secure.helpscout.net/conversation/157879104/24662/?folderId=180504).

[2016-01-11 20:50] mindctrl opened #41 "Auto Download feature causing ERR_INVALID_RESPONSE"
[Customer reported](https://secure.helpscout.net/conversation/158982281/24879/?folderId=180504) this and I've been able to replicate it, though @SDavisMedia was not able to replicate it. Tested in EDD 2.4.10 and 2.5.3 and it happens in both. I'm on Free Downloads 1.1.1 and so is customer.

When Auto Download is enabled and someone fills out the form in the modal and submits, the file doesn't downl

[2016-01-11 20:53] pippinsplugins commented on #41
I bet it's related to this:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/4113

On Mon, Jan 11, 2016 at 2:50 PM, mindctrl <notifications@github.com> wrote:

[2016-01-12 05:38] SDavisMedia commented on #41
Okay it looks like I have a case of this now. I still can't replicate it myself but I have a user who's either getting sent to an [error page](http://glui.me/?i=hibzczrlxyotll6/2016-01-11_at_9.36_PM.png/) or when it does work, it's downloading an index.php file. https://secure.helpscout.net/conversation/159358825/24986/?folderId=321418

WP 4.4.1, EDD 2.5.3, Free Downloads 1.1.1

[2016-01-12 14:19] mindctrl commented on #41
@SDavisMedia in your tests yesterday, which version of WP were you on?

[2016-01-12 14:24] pippinsplugins commented on #41
@ghost1227 We've got another report of this today.  Can you work on it please?

[2016-01-12 16:06] dearestdebi commented on #41
I just purchased the free download option for EDD. I set up an example which is working on this page.. DearestDebi.com/coupons which is a blog PAGE. (Click the pink download arrow for download button)

I've replicated the same set up but for a blog POST and it's producing an error. (Click the SECOND pink download button to see download button)

Just figured I would share what I've come across if i

[2016-01-12 16:07] dearestdebi commented on #41
Oops the blog post link is dearestdebi.com/not-another-bonnet

[2016-01-12 16:10] mindctrl commented on #41
@dearestdebi thanks for the info! We'll dig into this and get it fixed ASAP.

[2016-01-12 16:19] SDavisMedia commented on #41
@mindctrl I was on 4.4.2 alpha.

@dearestdebi Thanks for stopping by to report. Your support ticket is the one I linked in my last comment.

[2016-01-12 23:59] dearestdebi commented on #41
Any resolve to this issue?

[2016-01-13 00:14] SDavisMedia commented on #41
Hi @dearestdebi. Please reserve the GitHub Issues for development and testing discussion. You and I can continue to communicate in your support ticket. As of right now, this has not been fixed. You will be informed as soon as it is addressed.

[2016-01-13 00:51] dearestdebi commented on #41
Understood. Thanks

[2016-01-13 16:15] ghost1227 commented on #41
Is there any commonality to the affected sites? A particular webhost or server configuration perhaps? Also, is this something that has suddenly occurred (ie, a new issue caused by update), or are the users experiencing it all new users?

[2016-01-13 18:56] #41 closed

[2016-01-14 08:19] SDavisMedia commented on #12
Got another user needing this. It would definitely be nice to have.

[2016-01-20 22:25] #5 closed

[2016-01-20 23:21] #10 closed

[2016-01-20 23:39] #12 closed

[2016-01-21 00:01] #23 closed

[2016-01-22 23:09] cklosowski opened #48 "Safari bug with Mailchimp optin"
When the opt-in is shown on the free downloads modal, the checkbox for opt-ing in doesn't show in Safari:
![screen shot 2016-01-22 at 4 08 17 pm](https://cloud.githubusercontent.com/assets/1390124/12525583/85f9babe-c122-11e5-8931-4ec253339e70.png)

I've tested both Chrome and Firefox and it all seems to work fine.

[2016-01-27 00:38] sumobi opened #49 "Compatibility with Auto Register add-on"
We set up Free Downloads on AffiliateWP but ran into an issue. We use the Auto Register plugin and so each time you enter your email address into the form and download a free download, it auto creates a user account on the site.

We should add an option to disable user accounts in Auto Register
https://github.com/easydigitaldownloads/edd-auto-register

[2016-01-27 00:45] pippinsplugins commented on #49
@ghost1227 Think you could put this in?

[2016-02-09 07:11] sumobi commented on #49
@pippinsplugins Here's a solution:
https://github.com/AffiliateWP/affwp-functionality/blob/master/affwp-functionality.php#L304-L313

Short-circuits auto register for free downloads. @ghost1227 maybe you could add a setting in the admin that does the same when Auto Register is active.

[2016-02-09 07:15] ghost1227 commented on #49
Yep! Question though... isn't having the same function in both plugins kinda redundant? Or am I missing what you're saying @sumobi?

[2016-02-09 16:16] pippinsplugins commented on #49
@ghost1227 Andrew is just asking if we could have an option to disable Auto Register in Free Downloads. At the moment, if Auto Register and Free Downloads are both active, everyone that submits their name/email will get an account created. It would be nice to have an option to disable auto register for free downloads but keep it for regular purchases.

[2016-02-09 16:35] ghost1227 commented on #49
Gotcha. Can do!

[2016-02-09 16:37] pippinsplugins commented on #49
:+1:

On Tue, Feb 9, 2016 at 10:35 AM, Ghost1227 <notifications@github.com> wrote:

[2016-02-10 00:10] sumobi commented on #49
Awesome :+1:

[2016-02-27 15:02] brashrebel opened #50 "Bug when used with FacetWP"
When a FacetWP is used to filter a list of downloads it does so using Ajax. After a filter has been applied, the Download Now button does nothing on click. Loading the page directly with the filters set in the URL results in everything working as expected. Just when a filter is applied and the results adjust via Ajax.

[2016-03-07 16:20] topher1kenobe opened #51 "Form Width"
On mobile the form is full width, but the css includes iPads in mobile, and in that environment full width is too much.

[2016-03-10 14:26] mindctrl commented on #28
Would love to see this supported. Lots of good use cases for supporting bundles. Seems like an easy fix for sites that don't have auto-download enabled. Any particular reason why it's not supported @ghost1227?

[2016-03-10 14:33] pippinsplugins commented on #28
:+1:

On Thursday, March 10, 2016, mindctrl <notifications@github.com> wrote:

[2016-03-10 19:55] ghost1227 commented on #28
Because when I originally wrote FD I couldn't find an easy way to support bundles or variations. Variations are now supported... guess it's time to focus on bundles! Thanks for the reminder.

[2016-03-11 16:32] ghost1227 commented on #50
@brashrebel Can you post the display code you're using for the facet template?

[2016-03-12 14:09] brashrebel opened #52 "Support for variable pricing + multi purchase mode"
#43 got this close but there's still one aspect of variable pricing that does not work properly. If a download has variable prices, all prices are free, unique files assigned to each variation and multi purchase mode on, then "purchasing" more than one variation at the same time results in the products in the purchase receipt email and on the purchase confirmation page to show "No downloadable fil

[2016-03-14 15:49] pippinsplugins opened #53 "MailChimp subscriptions not working when not using download-specific lists"
When the MailChimp opt-in is enabled and only the global list option is selected for MailChimp, subscriptions to MailChimp are not processed.

It works fine when a download-specific list is enabled.

[2016-04-11 20:41] mintplugins opened #54 "Optional name setting = Required Name"
If you uncheck the Require Name setting, it still requires the name:

<img width="632" alt="screen shot 2016-04-11 at 4 38 00 pm" src="https://cloud.githubusercontent.com/assets/1638128/14441747/431f4166-0004-11e6-9650-b46f7ed0c18f.png">

<img width="387" alt="screen shot 2016-04-11 at 4 39 28 pm" src="https://cloud.githubusercontent.com/assets/1638128/14441750/446991b6-0004-11e6-8efd-38040816a456

[2016-04-12 21:47] pippinsplugins commented on #54
@ghost1227 could we get this looked at please?

[2016-04-22 16:54] pippinsplugins opened #56 "Add HTML support to notes field"
We've had a request for HTML support in the notes field: https://secure.helpscout.net/conversation/194704987/32720/?folderId=180499

Makes sense to me.

[2016-04-22 20:37] ghost1227 commented on #50
Since we haven't gotten a response, and the bug has been fixed with my (admittedly minimal) FacetWP tests, I'm going to close this issue. If it isn't fixed with the newest release (or master branch here), feel free to reopen.

[2016-04-22 20:41] ghost1227 commented on #51
The css isn't including iPads per se... I'm using a jQuery library to determine which version to use (the 'full-width' form isn't a full width form, it's actually a separate page). Currently, it's using `isMobile.any`. I did this because SOME tablets (including one of the ones I tested it on) don't look right when using the lightbox. Here's the library... https://github.com/kaimallea/isMobile

@to

[2016-04-24 18:04] pippinsplugins commented on #56
See https://github.com/easydigitaldownloads/edd-free-downloads/pull/58/files#r60848809

[2016-04-24 18:07] pippinsplugins commented on #54
This isn't working for me. I can still submit the form without entering my first or last name. Note: I'm doing this while logged in.

[2016-04-24 18:58] ghost1227 commented on #54
@pippinsplugins  You're reading it backwards.... with the require name setting unchecked, it SHOULD let you submit without entering first/last name.

[2016-04-24 19:00] ghost1227 commented on #56
Fixed

[2016-04-25 04:18] pippinsplugins commented on #56
@ghost1227 It's still a P tag: https://github.com/easydigitaldownloads/edd-free-downloads/blob/master/includes/actions.php#L155

[2016-04-25 04:20] pippinsplugins commented on #54
@ghost1227 Setting says `Should we make the first and last name fields required?`. That means it should be required. Fields show an aseterik but the fields can be left empty still, even if the `Should we make the first and last name fields required?` option is checked.

[2016-04-25 05:45] ghost1227 commented on #54
@pippinsplugins So I fixed it too well and reversed the problem.. Ok

[2016-04-25 05:46] ghost1227 commented on #56
@pippinsplugins I'll leave it open until I re-merge. I didn't want to do the merge until I was sure the other issue was fixed as well.

[2016-04-25 14:57] pippinsplugins commented on #56
@ghost1227 I'm missing something. Where's the fix for it? I don't see any commits.

[2016-04-25 16:42] ghost1227 commented on #56
@pippinsplugins https://github.com/easydigitaldownloads/edd-free-downloads/blob/master/includes/actions.php#L155 I don't work on this repo. I have forks on my account where I do the actual dev, then merge the changes when they're done. Just merged this one to make you happy

[2016-04-25 16:42] #56 closed

[2016-04-25 18:37] pippinsplugins commented on #56
@ghost1227 Okay. Is everything merged in now and ready to review again?

[2016-04-25 18:47] pippinsplugins opened #62 "Double clicking download button can result in two payment records"
Can we prevent double clicks please?

https://secure.helpscout.net/conversation/194738327/32735/?folderId=180504

[2016-04-25 18:54] ghost1227 commented on #54
Fixed

[2016-04-25 19:01] pippinsplugins commented on #54
Nope, still not working for me.

I can still submit the form without ever seeing an error:

![screen shot 2016-04-25 at 12 01 15 pm](https://cloud.githubusercontent.com/assets/1034109/14795453/73567528-0add-11e6-8342-7335fa5e0813.png)

[2016-04-25 20:07] pippinsplugins commented on #54
Nope, still doesn't work.

[2016-04-25 20:25] pippinsplugins commented on #54
Nvm, working.

[2016-04-25 20:25] #54 closed

[2016-05-03 10:50] pjmartorell opened #65 "Empty jBox after submitting "Download now" button"
When "Download now" is pushed an empty jBox popup is shown. That only happens when a download is inserted in a post using its shortcode. In the Downloads page everything it's working fine.

As I understood the script looks for the div called ```<div id="edd-free-downloads-modal" ... >```, which is not present in the post view, so for this reason it shows an empty jBox.

Since I have a customized t

[2016-05-03 12:50] pjmartorell commented on #65
Sorry, there was a deprecated plugin that was causing EDD to fail.

Thanks

[2016-05-03 12:51] #65 closed

[2016-05-13 18:21] themotionclub opened #66 "Free Downloads evaluates paid variable pricing items as free when no download ID is passed"
Issue with Easy Digital Downloads - Free Downloads v1.2.1 tested with current system set-up EDD 2.5.15 and wordpress 4.5.2

Potentially subject issue can allow to download any item free of charge, although they are sold for money.
Here is the issue provided step by step using screenshots:

When you do the following, Go to product (download) page, view page source, search for free-download and you

[2016-05-13 18:38] mintplugins commented on #50
This appears to still be an issue. @ghost1227 A customer has given us permission to investigate this with their installation including FacetWP here: https://secure.helpscout.net/conversation/199122995/33509/?folderId=749231

[2016-05-13 20:21] mindctrl commented on #66
Fix works for me here.

[2016-05-13 20:58] #66 closed

[2016-05-13 21:10] mintplugins commented on #66
Fix works here as well.

[2016-05-13 21:28] mindctrl commented on #66
Thanks for reporting this @themotionclub

[2016-05-13 21:43] ghost1227 commented on #50
Yay! Finally a real test site!

[2016-05-14 10:30] themotionclub commented on #66
Thank You too, glad to help with this.

[2016-05-18 20:03] mintplugins commented on #50
@ghost1227 Yes! Are you able to check that out?

[2016-05-18 20:54] ghost1227 commented on #50
Yep!

[2016-05-21 15:50] mintplugins commented on #50
Great - let me know when you have a chance to take a look and I'll update the customer

[2016-06-02 21:43] mintplugins commented on #50
@ghost1227 This customer has 3 tickets open about this right now and keeps opening new ones.

[2016-06-03 13:09] ghost1227 commented on #50
@mintplugins Spent most of the night working on it... haven't figured out how to make the two play nice. Any thoughts wouldn't go amiss right about now!

[2016-06-03 13:19] ghost1227 commented on #50
I've tried every way of handling the selector I can think of... some of them stupid specific. It seems like what we originally posited was the error isn't quite what we thought... the way FacetWP works with AJAX is resulting in an issue... seems to me that we'd have to re-run the FD script every time FacetWP runs... but I can't figure out a way to do it.

[2016-06-03 13:22] spencerfinnell commented on #50
You can use https://facetwp.com/documentation/facetwp-loaded/ if you need to reinitialize anything after a change is made.

[2016-06-03 14:42] mintplugins commented on #50
@ghost1227 I'm sure you did this already but I've had success with ajax and selectors continuing to work after ajax updates in the past if I use

`$(document).on(`

As opposed to

`$('body').on(`

[2016-06-08 20:51] #62 closed

[2016-07-07 22:26] fxbenard opened #71 "Checkbox for email receipt doesn't work with Receipful"
Even with the checkbox checked not to receive email, an email is sent after download.

Not sure you can do anything about it, but at least now you know.

![2016-07-08_00-17-49](https://cloud.githubusercontent.com/assets/802114/16671805/f2f7cafe-44a1-11e6-86c0-1168ba8c6895.png)

![2016-07-08_00-24-42](https://cloud.githubusercontent.com/assets/802114/16671861/699b8b0a-44a2-11e6-859b-64efab625c3b.pn

[2016-07-08 22:05] pippinsplugins commented on #71
@ghost1227 Could you look into this please?

[2016-08-13 21:01] ghost1227 commented on #71
@fxbenard The way our option works is by removing the action that triggers EDD sending emails. It looks like Receiptful is doing the same thing, then adds in their own system. I think I can bypass it, but I'll need help from someone familiar with Receiptful for testing purposes. Any interest?

[2016-08-14 01:14] fxbenard commented on #71
@ghost1227 For sure, how can I help?

[2016-08-14 01:53] ghost1227 commented on #71
@fxbenard I'm just not super familiar with Receiptful, so I'd like someone who actually IS to test a beta before I push it.

[2016-08-14 08:27] fxbenard commented on #71
Send it over, I'll give it a try. A branch to test?

[2016-08-16 18:02] ghost1227 commented on #71
My initial test failed, but I sent an email to Receiptful to see if they'd work with me to expose a global or define a filter that I can work with. Stay tuned!

[2016-08-16 19:04] ghost1227 commented on #71
Got a response from Receiptful. They no longer support the plugin on .org. I'm trying to get them to transfer it to me/EDD rather than pulling it from the repo. If they do pull it, I'll look at writing a new plugin (or forking the last version of theirs)

[2016-08-16 19:59] mintplugins opened #74 "Introduce a hook to allow for additional output"
If someone wants to add their own fields - or something like a Google reCaptcha to the Free Downloads modal, there aren't currently any hooks to allow them to do that.

**Proposal:**
Add an action hook somewhere in the edd_free_downloads_display_inline function to allow for additional output.

[2016-08-17 00:48] michaelbeil commented on #71
Sounds like a plan @ghost1227.

[2016-08-20 05:30] #51 closed

[2016-08-20 05:35] ghost1227 commented on #71
Fixed in 1.2.5

[2016-08-20 05:35] #71 closed

[2016-08-21 10:35] ghost1227 commented on #74
Eight new hooks added in 1.2.5 (four for inline, four for redirect)

[2016-08-21 10:35] #74 closed

[2016-08-24 15:19] SDavisMedia opened #76 "Fatal error due to typo"
[code]

[2016-08-24 15:26] #76 closed

[2016-08-24 17:55] michaelbeil commented on #76
FWIW, this was in https://github.com/easydigitaldownloads/edd-free-downloads/commit/c4423958aa51827a19cadd0c83adbd602ae903ce#diff-b9cc7a0c429b75433ed98a5c3a028f4bR302

[2016-08-24 18:22] SDavisMedia commented on #76
Yes, I'm aware.

[2016-08-24 18:23] michaelbeil commented on #76
👍

[2016-08-29 02:52] sumobi opened #79 "Free download button disappears after being clicked"
When clicking the "Free download" button, the modal pops up and then the button disappears underneath. This seems to have been introduced in 1.2.7.

![screen shot 2016-08-29 at 2 50 37 pm](https://cloud.githubusercontent.com/assets/52581/18039531/0e3eb2da-6df8-11e6-84e6-7e72f8e5fa85.png)

no button:

![screen shot 2016-08-29 at 2 50 47 pm](https://cloud.githubusercontent.com/assets/52581/18039530/

[2016-08-29 20:54] michaelbeil opened #80 "Custom buttons for download now"
At this time we do not have an option for using custom buttons (without a shortcode) with Free Downloads. It would be great to make this available.

Reference: https://secure.helpscout.net/conversation/243871564/0/?folderId=180504

[2016-09-05 16:47] ghost1227 commented on #79
Fixed in 1.2.8 (pending)

[2016-09-05 16:47] #79 closed

[2016-09-05 17:10] ghost1227 commented on #80
This was already possible, just not well documented. I've made it a bit easier with 1.2.8. All you have to do is this:

`<a href="#edd-free-download-modal" class="edd-free-download" data-download-id="{download_id}">Link</a>`

[2016-09-05 17:10] #80 closed

[2016-09-05 18:13] pippinsplugins commented on #80
@ghost1227 can you please get it documented?

[2016-09-05 18:19] ghost1227 commented on #52
Fixed in 1.2.8 (pending)

[2016-09-05 18:20] ghost1227 commented on #14
Forms are now template based and can be overridden.

[2016-09-05 18:20] #14 closed

[2016-09-05 19:56] ghost1227 commented on #80
@pippinsplugins Added a simpler way to add custom links through a new `edd_free_download` shortcode. Both the shortcode and manual creation of FD-compatible links are also now documented in a new HS page "Free Downloads - Advanced Usage"

[2016-09-06 01:15] ghost1227 commented on #49
Missed this issue. This was added in 1.1.0

[2016-09-06 01:15] #49 closed

[2016-09-06 02:30] pippinsplugins commented on #80
Great!

On Mon, Sep 5, 2016 at 2:56 PM, Ghost1227 <notifications@github.com> wrote:

[2016-09-06 02:36] ghost1227 commented on #80
@pippinsplugins The relevant release is on a 24-hour hold. I got inspired by a customer request and started a bit of a larger overhaul of FD... 1.2.8 may well become 1.3.0!

[2016-09-06 13:50] pippinsplugins commented on #14
@ghost1227 can you please make sure that all issues get milestoned so that we can more easily know when items were taken care of down the road?

[2016-09-06 15:53] ghost1227 commented on #14
Sure

[2016-09-13 22:47] ghost1227 commented on #40
Fixed with https://github.com/easydigitaldownloads/edd-free-downloads/pull/83

[2016-09-13 22:47] #40 closed

[2016-09-13 22:50] ghost1227 commented on #28
Ironically, the 2.0.0 update for auto-download makes part of this issue a LOT easier. However, I'm still not 100% sure the best way to implement this. If a bundle is free AND all items in it are free, then it's straightforward. Similarly, if a bundle is free and an archive URL is provided (new feature in 2.0.0), it's straightforward. However, if a bundle is free, no archive URL is provided, and it

[2016-09-13 23:20] SDavisMedia commented on #28
My first thought is to say it shouldn't support a free bundle that includes paid items. Free Downloads is designed to work for free downloads so I think we have a good argument for saying it won't work for paid bundle items, even if a person or two disagrees.

[2016-09-13 23:22] ghost1227 commented on #28
@SDavisMedia That's where I'm torn. Technically, the bundle IS free, so it's possible that they intend to include paid items in a free bundle (no matter how stupid it sounds). I can tweak the logic to make it work in that situation, but I'm not sure if I SHOULD

[2016-09-13 23:26] SDavisMedia commented on #28
Right, that's exactly where I stand. It could be done but I think there's a good case for not supporting it.

[2016-09-13 23:29] ghost1227 commented on #28
The alternative is that we could make it an option... disallow it by default, but have an option to enable paid items in free bundles being treated as free.

[2016-09-13 23:31] SDavisMedia commented on #28
Maybe a setting that appears in the free bundle's meta box in an obvious notice only when a paid item gets added to the bundle?

[2016-09-13 23:32] ghost1227 commented on #28
Free Downloads settings are now in a dedicated meta box (not under Download Options anymore), so we can certainly add a setting there for it which only appears if product type == bundle && child product total value > 0

[2016-09-14 21:20] ghost1227 commented on #28
This is getting listed as wont-fix for the time being. I've got a prototype working for bundle support, but it ONLY works post-save. Since the EDD add/edit product metabox is using Chosen, the normal selectors for detecting select box status change don't work, and the Chosen docs don't indicate any way to dynamically detect change. As such, we have no way of updating this on-the-fly, which makes s

[2016-09-17 22:54] Moonomo opened #84 "PHP Notice on script.php"
Sorry- posted on wrong repository.

(It's a EDD issue.)

[2016-09-19 02:20] #84 closed

[2016-09-21 20:56] pippinsplugins commented on #28
Re-opening.

Just had another request come in and made me think about it a bit.

I really don't think we should be bothering ourselves with what the price of the items inside a bundle are. That's not our concern.

In core, we let site admins set a price on a bundle. This price is in no way tied to the price of the items inside the bundle. Why should Free Downloads be any different?

Obviously it's

[2016-09-21 20:58] ghost1227 commented on #28
I saw that come in. Argued with myself about whether or not to re-open. My issue with it isn't about the pricing... we'd already decided to work around it. My problem is that I can't find a way to make it work on the backend. Read my last comment (when I closed it)

[2016-09-21 20:59] pippinsplugins commented on #28
I don't see why it's an issue on the backend . . . just show the options if the bundle box is checked. Nothing else really needs to change.

[2016-09-21 21:04] ghost1227 commented on #28
Just for my own reference when I start working on this again... we're changing our outlook on it. Bundles will _always_ be supported. If the bundle option is checked, we're allowing FD support, regardless of the value of the items in the bundle. Once this goes live, we also have to update the docs to outline how this works so users don't get surprised by FD downloading paid products for free.

[2016-09-23 08:22] ghost1227 opened #85 "The new zip file support fails with remotely hosted files"
Using the new direct download compression option, if files are hosted off-site, they fail to be added to the zip file before download.

[2016-09-23 08:26] ghost1227 commented on #28
This has been added in 2.0.0

[2016-09-23 08:26] #28 closed

[2016-09-23 08:53] ghost1227 commented on #85
Fixed in 2.0.0

[2016-09-23 08:53] #85 closed

[2016-09-23 09:40] #17 closed

[2016-09-23 09:45] ghost1227 commented on #48
I'm not sure if this was fixed with the move to using template files, or if I fixed it at some point and forgot to close the issue, but I can't replicate this now. If you're still seeing it, feel free to reopen.

[2016-09-23 09:45] #48 closed

[2016-09-23 10:24] ghost1227 commented on #53
Fixed with #87

[2016-09-23 10:24] #53 closed

[2016-09-23 10:44] ghost1227 commented on #50
I've switched this to use `$(document.body)` and it seems to be working. Again, I'm not great with FacetWP so I'd appreciate someone else taking a look at it. The changes are merged into the `release/2.0.0` branch and will be going live whether or not it actually fixes this issue because using `$(document.body)` over `$('body')` has proven to be more efficient.

[2016-09-23 13:16] pippinsplugins commented on #85
Link commit messages please.

[2016-09-23 13:17] pippinsplugins commented on #17
@ghost1227 please make sure issues are properly milestoned (hint this one is not).

[2016-09-23 13:19] ghost1227 commented on #85
https://github.com/easydigitaldownloads/edd-free-downloads/commit/d6e930070a8704ede750ffce3290d6ab8b26303c

[2016-09-23 13:21] ghost1227 commented on #17
@pippinsplugins Done. I've never done actual milestone tags on my plugins before... I'm working on actually using labels/milestones better lately... but it's a learning experience.

[2016-09-26 13:36] samglover opened #90 "Download button doesn't return if modal is dismissed"
When someone clicks the Download Now button, the modal pops up and the button on the underlying page disappears. But if the user dismisses the modal, either by clicking on the background page or by clicking the X, the Download Now button stays gone and it's not clear how one would get it back.

Example: https://lawyerist.com/downloads/law-firm-website-design-guide/

The button should return when t

[2016-09-26 15:27] ghost1227 commented on #90
Closing as duplicate of #79 and pinging @michaelbeil (this update was supposed to go out last week!)

[2016-09-26 15:27] #90 closed

[2016-09-26 15:37] pippinsplugins commented on #79
See https://trello.com/c/Pg8cngiR/561-free-downloads

[2016-09-26 17:16] michaelbeil commented on #79
This was fixed in 1.2.8 which got moved to `release/2.0.0`.

[2016-09-26 17:25] michaelbeil commented on #85
In https://github.com/easydigitaldownloads/edd-free-downloads/pull/83

[2016-09-28 20:42] SDavisMedia opened #93 "Add setting to make modal registration form fields optional (not required)"
If the registration form fields are not going to honor EDD's Guest Checkout setting, the registration form fields should at least have the ability to be optional. A checkbox setting would suffice.

[2016-09-28 20:56] SDavisMedia commented on #53
Replicated and confirmed fixed.

[2016-09-28 21:06] ghost1227 commented on #93
Note to myself... this is specifically referencing the first and last name fields. Email is ALWAYS required unless Direct Download is enabled.

[2016-09-28 21:07] ghost1227 opened #94 "Add per-download notes"
In 2.0.0 I intended to add support for overriding the global notes field per-download, but it didn't make it in. Let's make this happen in 2.1.0!

[2016-09-28 21:26] SDavisMedia commented on #52
Fixed. Thanks!

[2016-09-28 21:26] #52 closed

[2016-09-28 23:04] SDavisMedia opened #98 "Support the text parameter in purchase_link shortcode"
Free Downloads supposed the `[purchase_link]` shortcode but you cannot override the button text. It will always use the text specified in the Free Downloads settings.

It should display whatever is entered in the `text` parameter. This is pretty much a continuation from https://github.com/easydigitaldownloads/edd-free-downloads/issues/40, which I believe the original user was trying to do anyway.

[2016-09-28 23:54] ghost1227 opened #100 "Add better cache controls"
As @SDavisMedia learned while testing, caching can be a pain in the ass. While I added it for a good reason, there's also good reasons you might want to remove or adjust caching. Let's add the following:

- [x] Add a `Purge Cache` button in the settings panel
- [x] Add a `Clear from cache` button in the FD meta box in downloads if a cached file exists
- [x] Add an option to disable cache altogethe

[2016-09-29 13:41] pippinsplugins commented on #100
What specifically is being cached?

[2016-09-29 16:12] ghost1227 commented on #100
It caches remotely hosted files (they have to be stored locally to be able to be compressed) and it temporarily caches compressed zips when they're made.

[2016-10-02 06:03] ghost1227 opened #103 "Support bypassing Auto-Register"
A customer brought up that FD creates a user account if auto-register is enabled. We should (and I thought we did) allow bypassing account creation.

[2016-10-02 14:41] ghost1227 commented on #98
@SDavisMedia Just did some digging and as far as I can tell, it's not actually possible at the moment. The EDD `[purchase_link]` shortcode compiles a bunch of args and passes them to the `edd_get_purchase_link()` function, which results in the same output as if the purchase link was being displayed in the download list or an individual page. There's no way to differentiate between a purchase link

[2016-10-02 16:11] SDavisMedia commented on #98
Not sure. You'd have to talk to one of the devs about that.

Either that or enhance the new `[edd_free_download]` to be able to output as a button. Would be as simple as adding another accepted parameter that defaults to its current state or accepts a value that adds the necessary classes to the link so it mimics an EDD button.

[2016-10-02 17:21] ghost1227 commented on #98
It _should_ work with the default purchase link shortcode... that's what users will expect. @pippinsplugins thoughts?

[2016-10-02 23:02] pippinsplugins commented on #98
@ghost1227 any reason you can't use the `edd_purchase_link_args` filter?

[2016-10-02 23:08] ghost1227 commented on #98
@pippinsplugins Because I can't differentiate between shorcode-based and non-shortcode purchase buttons using that (that i can find). We need all non-shortcode buttons to use the default label set in FD settings, but we want to allow users to override that through the `text` param in the `[purchase_link]` shortcode... but since the shortcode passes an array to the function that's really no differe

[2016-10-02 23:35] pippinsplugins commented on #98
Yes you can.

Look at the value of the `text` key. If it's different than the store-wide setting, it's been set on the shortcode.

[2016-10-03 00:45] ghost1227 commented on #98
Ooh! Clever! I never even thought of that! Thanks!

[2016-10-05 15:37] mintplugins opened #107 "Variable Prices are not working"
If you have a product with a variable price that is free, it fails with error message:

"An internal error has occurred, please try again or contact support."

I have tracked this down to line 126 of download-actions.php. For some reason $_POST['edd_free_download_price_id'] is empty so on line 123 the variable pricing lines are not run:

https://github.com/easydigitaldownloads/edd-free-downloads/b

[2016-10-05 15:37] mintplugins commented on #107
@ghost1227

[2016-10-05 20:14] ghost1227 commented on #107
@mintplugins Huh... that was tested repeatedly before it went live. That's super odd..

[2016-10-06 05:28] ghost1227 commented on #93
@SDavisMedia I just tested it, and with registration enabled, only username and email are required... am I missing something?

[2016-10-06 13:30] mintplugins commented on #107
Working now! Thanks @ghost1227

[2016-10-06 14:40] mintplugins commented on #98
I can enter custom text using:

 [purchase_link text="MY CUSTOM TEXT"]

However, if using the popup modal, when it pops up, the button text changes back to "DOWNLOAD NOW". It should probably remain with my custom text if at all possible (I think).

[2016-10-06 14:41] ghost1227 commented on #98
It wasn't intended to... @pippinsplugins thoughts?

[2016-10-06 15:10] pippinsplugins commented on #98
Yes it should change back. The button should always, before and after click, show the custom text entered.

[2016-10-06 15:11] ghost1227 commented on #98
@pippinsplugins i you're misunderstanding him. he means that the second download button IN the modal shows the download text, not that the main button reverts to 'Download Now' after it's clicked

[2016-10-06 15:13] ghost1227 commented on #98
...though the answer could very well be the same

[2016-10-06 15:14] pippinsplugins commented on #98
Ok I'm bit confused but here's how it should work in my opinion:

1. Text set in [purchase_link] should show on the button that opens the modal
2. Button inside modal should be unaffected by [purchase_link]

[2016-10-06 15:18] ghost1227 commented on #98
Actually... both comments are valid. it IS reverting to download now >_<

[2016-10-06 15:19] mintplugins commented on #98
I don't know if I was clear enough. Sorry about that. I'm talking about the text on the button itself - it reverts to "DOWNLOAD NOW" after I click it

![purchase-text](https://cloud.githubusercontent.com/assets/1638128/19158433/ade372fe-8bb6-11e6-877b-bb8635a2dd8e.jpg)

[2016-10-06 15:20] ghost1227 commented on #98
@mintplugins it's all good, I misunderstood what you were saying. Finally figured it out when I went to grab a screenshot to demonstrate what I _thought_ you were saying

[2016-10-06 15:23] ghost1227 commented on #98
@mintplugins there you go. simple fix

[2016-10-06 15:24] mintplugins commented on #98
Perfect. Working now!

[2016-10-06 15:24] ghost1227 commented on #98
@mintplugins no more issues? good to close?

[2016-10-06 15:26] mintplugins commented on #98
Yeah looks good to me. I say we merge it in and close.

[2016-10-06 15:30] ghost1227 commented on #107
NP!

[2016-10-06 15:31] #107 closed

[2016-10-06 15:31] #98 closed

[2016-10-06 15:33] ghost1227 commented on #93
I'm punting this to 2.2.0 because I'm not convinced it's an issue and 2.1.0 has to go out ASAP due to a critical bug in variable pricing.

[2016-10-06 15:40] SDavisMedia commented on #93
This is _not_ about first and last name fields... and certainly not email. It's about registration form fields as mentioned: https://cl.ly/2o1Z3S361h2F

Just because we have the ability to show a registration form should not imply that registration is required. Just like with EDD itself, you can show an _optional_ registration form at checkout. The same could/should be possible in Free Downloads.

[2016-10-06 15:42] ghost1227 commented on #93
Oh! Yea, I completely misunderstood. I thought you were saying if registration was enabled, it was requiring the first and last name fields. Totally got you now.

[2016-10-06 15:50] mintplugins commented on #103
This is working for me here. When bypass is enabled, no user account is auto created through Auto Register. When disabled, users are auto created.

I have a pet peeve with double-negative checkboxes though. Could this perhaps be changed to "Allow Auto-Registration" and have it be checked by default?

[2016-10-06 15:59] ghost1227 commented on #103
@mintplugins Not inclined to... if you look through the FD settings, most of the checkboxes are disabling things. Plus, we're not allowing something that's normally not allowed, we're bypassing the normal operation.

[2016-10-06 16:00] ghost1227 commented on #103
In other words, if we do that for one, it'd make sense to do it for all.. which would require an upgrade routine since most are long-standing options. Seems seriously like overkill for a pet peeve 😉

[2016-10-06 16:01] mintplugins commented on #94
Working great for me. Global is used if notes are enabled. They are over-ridden by the note in the product itself if used.

[2016-10-06 16:02] mintplugins commented on #103
Dang... :P

[2016-10-06 16:02] ghost1227 commented on #94
Woot! That was a pain to write (it did result in much better code though).

[2016-10-06 16:02] #94 closed

[2016-10-06 16:03] ghost1227 commented on #103
lol Generally I agree that enabling sounds better than disabling. But given we're disabling an existing feature established by another plugin, i stand by my original wording.

[2016-10-06 16:03] #103 closed

[2016-10-06 16:16] mintplugins commented on #103
I hear you. Sounds good to me. - though I'm going to pout over in the corner for a bit about it.

[2016-10-06 18:56] evertiro opened #110 "Add email verification"
We've been asked numerous times about ways to secure the download modal. It's about time we do something about it. What are the options that are available? Should we integrate them (any/all) or write free addons that add captcha/whatever to the form? Discuss!

[2016-10-06 19:37] pippinsplugins commented on #110
First, email verification and reCaptcha are not the same thing and should be discussed in separate issues. Let's make this issue about email verification.

[2016-10-06 19:38] ghost1227 commented on #110
That's fair.

[2016-10-06 19:39] pippinsplugins commented on #110
For email verification, it's really pretty simple:

1. When modal is submitted, create the payment like we currently do but set the status to `pending`
2. Send an email to the customer with a verification link, just like we do for user verification: https://github.com/easydigitaldownloads/easy-digital-downloads/blob/master/includes/user-functions.php#L655
3. When customer clicks the link emailed t

[2016-10-06 21:35] SDavisMedia commented on #100
The **Purge Cache** button definitely works.

The tooltip for **Purge Cache** says "effect" instead of "affect" ... simple typo.

I am not able to get **Disable Cache** to work. I monitor my FD cache folder and it continuously caches the files. Is it supposed to not cache at all, or simply not use the cached items for new "purchases"?

Also, there's a more serious issue and I'm not sure if it's re

[2016-10-06 21:39] ghost1227 commented on #100
Disable Cache probably _is_ working... just not how you expect. I can't actually delete the local copies of the files after processing a download - the download function exits and anything after it doesn't run (part of how EDD core handles downloads). As a result, the Disable Cache option deletes files at the _beginning_ of the processing stage instead of the end. with Disable Cache enabled, the f

[2016-10-06 21:42] SDavisMedia commented on #100
@ghost1227 I'll test cache disabling again with that in mind. I can test purchases that should have different contents in the auto downloaded zip to see if it is in fact deleting the cached copy and replacing it with a new one of the same name.

For the 404 issue, please try to replicate. It downloads the file from Amazon just fine in any other scenario and it downloaded it just fine before I star

[2016-10-06 21:44] ghost1227 commented on #100
Typo fixed... just to make sure I'm understanding, the steps to replicate are

1. Add a single file from Amazon S3 to a download
2. Download the file
3. Add a few local files to the download
4. Download the file
5. Remove _all_ local files (so just the S3 file is left)
6. Download the file

where step 6 is the one that's failing for you?

[2016-10-06 21:44] ghost1227 commented on #100
@SDavisMedia ^

[2016-10-06 21:45] SDavisMedia commented on #100
@ghost1227 Correct. Keep in mind that I didn't test that on purpose. Those are just the steps I feel are relevant based on the tests I've done.

[2016-10-06 21:49] ghost1227 commented on #100
ok

[2016-10-06 21:53] SDavisMedia commented on #100
@ghost1227 Okay yup cache disabling is all good. I tested by adding a new file to the product and making a new purchase. Then checking the auto downloaded zip to make sure its content changed. All is well.

That said, after doing the above three times, resulting in a total of four files on the product, I remove the three local ones from the product and tried again. Same result... auto downloading

[2016-10-06 21:55] ghost1227 commented on #100
I'm testing now

[2016-10-06 21:56] ghost1227 commented on #100
@SDavisMedia Does it specifically happen with auto download?

[2016-10-06 21:56] SDavisMedia commented on #100
@ghost1227 That's all I've tested so far.

[2016-10-06 22:22] SDavisMedia commented on #100
All good now! :+1:

[2016-10-06 22:24] #100 closed

[2016-10-07 15:56] ghost1227 opened #114 "Button text not appearing on 2.1.0"
With the update to 2.1.0, it seems we've somehow broken buttons appearing in an as-yet unknown set of circumstances, while @SDavisMedia and myself (and anyone else who tested pre-release) didn't see the issue, @pippinsplugins replicated it immediately upon updating to 2.1.0 without touching settings.

[2016-10-07 16:02] #50 closed

[2016-10-07 16:04] ghost1227 commented on #114
Verified that @pippinsplugins' patch doesn't break functionality, including the existing custom text option. Still haven't replicated the bug, so can't verify it fixes it.

[2016-10-07 16:20] #114 closed

[2016-10-08 04:33] sumobi opened #117 "Display Purchase Confirmation not working when logged-in"
It seems that "Display Purchase Confirmation" for the "On-Complete Handler" doesn't work as intended when you are logged into the site. When clicked, the download is auto-downloaded and no redirect occurs. If you then log out and download, the redirect occurs as expected.

[2016-10-08 04:38] amdrew opened #118 "Select which emails will be disabled"
It would be nice to select which emails are disabled with the "Disable Emails" setting. If you enable it, both the customer and admin email notification are disabled. I'd like the customer to still receive their purchase receipt, but prevent the email coming through to the admin.

[2016-10-08 04:42] sumobi opened #119 "Potentially bring back "Redirect and auto-download""
Previous to v2.0 it was possible to redirect the customer to a custom page and then have the file auto-downloaded. In v2.0 and later this is no longer possible.

It would be nice to bring this functionality back, however @ghost1227 mentioned it never consistently worked for him, which is why it was removed.

It always worked for me so I'd love this to be explored further and see if we can make it

[2016-10-08 05:22] amdrew opened #120 "Sprinkle some do_actions into the modal code"
It would be nice to have some `do_action`'s carefully sprinkled around the modal HTML.

Personally, I'd like one where the notes are so I can add a conditional message based on whether the user is logged-in or not (or other conditionals). I think this would be handy. Perhaps the usual 1 at top, one at bottom, and one for notes or anywhere else you see fit.

[2016-10-08 05:30] sumobi opened #121 "Login form"
I like the user registration form inside the modal window. If a logged-out user clicks to download a file however there's no way to log in if they already have an account. How about a small "Already logged in?" link underneath the form that when clicked shows a login form. Once logged in, the file downloads, or performs any of the other actions.

[2016-10-08 23:03] amdrew opened #122 "Download fails if query string exists in URL and "bypass if logged in" is enabled"
If the URL already contains a query string (i.e. UTM parameters often added via emails and doc links), the free download fails when:
- The user is logged in
- "Bypass if logged in" is enabled from settings

Spotted by a customer and I've also replicated. To replicate:
1. Make sure "bypass if logged in" is enabled
2. Make sure you're logged into the site
3. Go to a page where there's a free downloa

[2016-10-09 14:54] pippinsplugins commented on #119
There's no reason we can't make this work so I agree. @ghost1227 I'll help work it out if needed.

[2016-10-10 00:13] ghost1227 commented on #119
@pippinsplugins Please! I spent half a day puzzling over it before the 2.0.0 release and most of yesterday after he opened this issue. I'm just as lost now as ever. Doing `wp_redirect()` followed by the download command won't work because the redirect throws an error if something else (the download command) runs before the `die()` command. Doing the download first causes the script to run `die()`

[2016-10-10 13:45] pippinsplugins commented on #119
@ghost1227 Get me an issue branch that has the functionality restored to how it was and I'll dig into it.

[2016-10-15 13:05] amdrew opened #123 "Activating free downloads shouldn't change the button width"
When the free downloads extension is installed, it shouldn't change the download button width.

---

A standard free download in EDD (2016 theme):

![screen shot 2016-10-16 at 2 00 03 am](https://cloud.githubusercontent.com/assets/52581/19410291/972c036a-9344-11e6-9cd6-28f0a5a72efe.png)

---

The same free download but with Free Downloads active:

![screen shot 2016-10-16 at 2 00 17 am](https://cl

[2016-10-30 09:05] samikeijonen opened #124 "Focus trap on modal window"
First, great job on the plugin!

I noticed minor accessibility issue when opening the modal window using keyboard. Focus is not moved inside to modal window. It should probably move to first focusable element like email field.

Also focus doesn't stay inside the modal window (well because it's not moved inside in the first place:) before modal is closed.

Here is good example of [accessible modal

[2016-11-09 16:48] mehedi-sharif opened #125 "Variable products it not working with latest EDD update"
Just updated latest EDD and the variable product is not working.
Here is the live url : http://www.furioustheme.com/products/box-bootstrap-portfolio-template/
Everything is working with my previous version of EDD 2.6.10 in my localhost.
Hope you people will update this issue soon.
BTW I have purchased the license .
Thanks

[2016-11-09 18:25] samikeijonen opened #126 "Is mobile check"
I was wondering why there needs to be JS check for mobile? In other words why not load modal window on all devices. It could be done nicely with CSS only. This is remotely related to issue #124.

I'm happy to work on both issues if there is support for better accessibility and fewer scripts loaded in the front end. Those might be big changes, I haven't really looked the code that much yet.

[2016-11-09 22:44] pippinsplugins commented on #125
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2016-11-09 22:44] #125 closed

[2016-11-10 16:39] pippinsplugins opened #127 "Zero byte downloads with Amazon S3"
When using Amazon S3 and Free Downloads, files are coming down as 0 bytes.

Reported and confirmed in this ticket: https://secure.helpscout.net/conversation/273087578/46055/?folderId=180505

[2016-11-10 16:46] pippinsplugins commented on #127
Works for me locally but definitely doesn't work on his site.

[2016-11-10 17:11] michaelbeil commented on #126
If you can take a look @samikeijonen, that would be great.

Better accessibility and fewer scripts are definitely on par with where we would like to take this plugin. Loading the modal on all devices may be a better option as well given the library referenced in the other issue.

[2016-11-10 17:29] samikeijonen commented on #126
Cool. I'll create PR once I have extra time. Hopefully soon enough.

[2016-11-12 21:04] davidsherlock opened #128 "Free Download Status Required"
I run a website that offers a 50/50 mix of free and paid products using EDD. While the Free Downloads plugin is great for handling the email collection and download functionality, if your site is receiving thousands of free downloads a day, the payment records quickly get out of control and it's hard to manage (or find) legit payment records.

Much like the "Test Payments" functionality within EDD

[2016-11-17 18:24] samikeijonen commented on #126
PR #129 is proof of concept that this can be done. Accessible modal dialog is actually the easier part. But responsive modal dialog is not that easy. There needs to be some compromises so that modal works and can accessed when opened on all devices not matter the modal dialog height is.

Here is [demo site](https://foxland.fi/demo/free-a11y-modal/downloads/free-download/).

I probably broke someth

[2016-11-20 03:50] mindctrl opened #130 "Modal form loads on all pages"
The form loads on all pages, even if there are no downloads on the page. This can be seen on any pages on the EDD site, for example.

https://github.com/easydigitaldownloads/edd-free-downloads/blob/2.1.2/includes/template-actions.php#L22-L31

[2016-11-22 17:35] SDavisMedia opened #131 "Bypass If Logged In setting doesn't work with variable pricing"
If you have a variable pricing product where one option is free, triggering Free Downloads, you get both buttons at the same time:

<img width="374" alt="screenshot 2016-11-22 09 34 49" src="https://cloud.githubusercontent.com/assets/2359131/20534696/035aa248-b097-11e6-8eb2-0cbbc69928f9.png">

And you get this wp_die error when you try to download the free product:

`You have tried to cheat. Play

[2016-11-23 18:20] mintplugins opened #132 "[edd_free_download] shows popup modal even if logged in"
If you have "Bypass If Logged In" checked and are using the edd_free_download shortcode, the modal still appears.

This only happens for buttons output using the shortcode. Normal Free Downloads buttons correctly download the product without the popup for logged in users.

[2016-11-27 14:22] cklosowski opened #134 "Make compression to a single file an option"
We've had a request, and a logical one, where the files offered for a free download can surpass 1GB, so they'd prefer NOT to have compression happen by default. Right now there isn't an option for the store owner to disable this compress, it's forced.

https://secure.helpscout.net/conversation/282665463/47691/?folderId=180499

[2016-11-27 22:55] mintplugins opened #135 "Integration with Wish Lists"
A customer has requested that an integration with Wish Lists be built. The integration would make it so that when an item is added to the Wish List, the "Add To Cart" button on the wish list would be "Download" if the price is $0

[2016-11-28 00:24] mintplugins commented on #135
https://secure.helpscout.net/conversation/282675537/47694/?folderId=749231

[2016-11-28 00:26] mintplugins commented on #135
I just realized this is sort of moot - since you can't add free items to a wishlist if Free Downloads is activated. Closing for now.

[2016-11-28 00:26] #135 closed

[2016-11-30 16:18] SDavisMedia opened #136 "Class parameter doesn't work for purchase link shortcode"
The `[purchase_link]` shortcode accepts a class parameter: http://docs.easydigitaldownloads.com/article/229-purchaselink

When the shortcode is for a free download, classes are not added.

[2016-12-02 16:04] ghost1227 opened #137 "Download Now shows on non-free products since last update"
The Download Now button is showing on non-free variable products since the last security update we pushed.

[2016-12-02 16:47] ghost1227 commented on #137
@pippinsplugins Given the critical nature of this issue, I'm pushing the fix for it. We've had too many issues opened today on it to wait until after WCUS

[2016-12-02 16:47] #137 closed

[2016-12-02 22:36] ghost1227 commented on #126
Err... I posted on the PR instead of here on my comment, but the gist of what I said was that there's two questions that need to be addressed. First, the version posted breaks support for variable pricing (not a big deal, just needs to be taken care of if we want to go that route). Second, when we originally designed FD, we opted for a non-modal solution for mobile devices for a reason. Modals are

[2016-12-03 18:49] samikeijonen commented on #126
Sorry I also answered in PR:) I'll continue here.

What kind of issues have you noticed? For front-end I can't see any issues that can't be resolved but I totally understand if back-end needs it.

Here is [quick demo](https://foxland.fi/demo/free-a11y-modal/) which you can test on mobile also.

[2016-12-05 14:49] ghost1227 opened #139 "Notes broken since last release"
Looks like I accidentally removed some of the code necessary for the notes field to work with the last release.

[2016-12-05 14:59] ghost1227 commented on #139
Actually removed the auto register code too...

[2016-12-06 17:41] SDavisMedia commented on #126
Your demo is working great for me, @samikeijonen. I really like this approach. I've never seen the need for the mobile check.

@ghost1227 I think the `mobile + modal = bad` sentiment comes more from hard-to-remove modals that appear out of nowhere in an obtrusive way. FD is well designed... there's room around the modal to tap out of it and also the close button if configured to show. Plus, if the

[2016-12-06 17:49] samikeijonen commented on #126
Great to hear!

We could also make a design decision that close button is always shown on narrow screens. But not really sure if that's necessary.

By the way do you have tutorial or instructions what is the best way to update my PR branch for the latest master. I seem to struggle with Git.

[2016-12-08 19:00] pippinsplugins commented on #126
I like this too.

@samikeijonen See this guide: https://help.github.com/articles/syncing-a-fork/

[2016-12-15 14:40] #139 closed

[2016-12-15 14:42] ghost1227 opened #140 "Improve notes UX"
Currently, notes load through AJAX which can cause a slight delay on the frontend. Let's find a better way to handle this so that the delay doesn't happen, or happens more gracefully!

[2016-12-15 15:31] #140 closed

[2016-12-15 15:31] #136 closed

[2016-12-15 15:34] ghost1227 commented on #134
@cklosowski @pippinsplugins It's not a bug, it's the intended behavior. The direct download option only compresses files automagically if there is more than one file listed for the specific download. This is because direct download only works if it's downloading a single file. You can't automatically start more than one download simultaneously. As such, if you are using direct download, it require

[2016-12-15 16:18] SDavisMedia commented on #136
Working just fine here. :+1:

[2016-12-15 16:18] SDavisMedia commented on #140
Nice and snappy now. :+1:

[2016-12-23 18:42] ghost1227 opened #144 "Custom product redirect"
Now that we've reworked the post-purchase actions, maybe it's time to add custom redirect override functionality. Let's make it so that redirects can be handled on a per-download bases!

[2016-12-23 18:43] ghost1227 opened #145 "Pass purchase key to redirects"
Since we don't currently have the ability to do auto-download _and_ redirect, @SDavisMedia has requested a way of bringing purchase data into the redirect page. I'd like to add a full shortcode-based system to allow insertion of all purchase-related data to the redirect page.

[2016-12-23 18:47] ghost1227 commented on #123
@sumobi This is something that me and @SDavisMedia discussed during the 2.0.0 update. I believe it's already resolved... can you verify that?

[2016-12-23 18:47] SDavisMedia commented on #134
@cklosowski How exactly is it supposed to work with multiple files and no compression?

[2016-12-23 18:48] ghost1227 commented on #120
@sumobi I did add a few actions during the 2.0.0 update, plus it's now fully templated... is this still needed?

[2016-12-23 18:49] SDavisMedia commented on #145
I think this would be pretty cool if kept simple enough. Could also be considered for core, I'd think. But that's a different conversation.

[2016-12-23 18:50] ghost1227 commented on #117
This was resolved with the 2.0.0 rewrite

[2016-12-23 18:50] #117 closed

[2016-12-23 18:58] ghost1227 commented on #93
I _think_ we fixed this with 2.0.0, but let's double check it.

[2016-12-26 22:35] ghost1227 opened #146 "Improve modal flexibility"

[2016-12-27 00:05] ghost1227 commented on #146
Here's what I've built over the weekend...

<img width="1114" alt="screen shot 2016-12-26 at 5 52 03 pm" src="https://cloud.githubusercontent.com/assets/36433/21487701/dabf184a-cb95-11e6-9990-b7a194156b68.png">

[2016-12-27 00:37] pippinsplugins commented on #144
I'd prefer to see this done as part of the `Conditional Success Redirects` add-on. Makes sense for it to live there.

[2016-12-27 00:47] pippinsplugins commented on #146
Oh yes! This will make a _lot_ of people really happy.

Could we get a gif (or issue branch) to see the builder in action? I'd like to see how it behaves.

Goals look good and cover the primary needs I see.

[2016-12-27 00:49] ghost1227 commented on #146
You can once it actually behaves right! It's inspired by Gravity Forms, but most of the JS isn't there yet. I'm only two days into this! Right now, reordering doesn't exist, and it doesn't fully support drag and drop (clicking items does add them to the form though).

[2016-12-29 13:49] samikeijonen commented on #126
Should we continue working on this one?

[2016-12-29 18:47] mintplugins opened #147 "Make Auto-Download work with files hosted on AmazonS3"
Currently, if you use the Auto-Download feature in Free Downloads and your files are hosted on AmazonS3, it redirects the user to a 404 page.

[2016-12-29 18:53] mintplugins commented on #146
Sweet! Stoked to see where it goes from here! Will there be any required fields?

[2016-12-29 18:55] ghost1227 commented on #146
@mintplugins All fields will have a 'required' checkbox in their settings, letting the user decide what's required and what's not.

[2016-12-29 19:06] SDavisMedia commented on #146
I love where it's headed and I think you've covered all the bases to get something super sweet up and running. I'm sure we'll come up with a few things once it's ready to play with.

As we discussed privately, it's already set up to support more than one form. I think that'll be a key feature people ask for if the form builder doesn't launch with it. They'll want to be able to have different forms

[2016-12-29 19:08] ghost1227 commented on #146
@SDavisMedia I've already got a meta box for "Newsletter Fields" and plan to add an "Extension Fields" one as well. All field areas are designed to be extended through a filter, even core.

[2016-12-29 19:17] mintplugins commented on #147
https://secure.helpscout.net/conversation/293820025/49405/?folderId=749231

[2016-12-31 09:21] ghost1227 commented on #146
Just so everyone can nitpick before I get too far, I'm pushing the only actual code relevant to the form builder that's actually done. Basically, it's just the framework for the page itself and the functions for registering/retrieving the actual field types and fields used to create the meta boxes and buttons for each field.

@cklosowski So far, I'm basically at ground zero in terms of the javascr

[2016-12-31 13:10] ghost1227 commented on #146
Rewrote what I originally posted to include multi-form support. Basically, switched from using a pseudo-post type to an actual post type and converted the faked meta boxes to dynamic meta boxes for said post type.

<img width="1278" alt="screen shot 2016-12-31 at 7 08 26 am" src="https://cloud.githubusercontent.com/assets/36433/21577650/296b01f8-cf28-11e6-9dc3-15019823e37e.png">

<img width="1275"

[2016-12-31 16:25] brashrebel commented on #127
Another report of this same issue: https://secure.helpscout.net/conversation/298587101/49992/?folderId=180499

[2017-01-01 04:39] ghost1227 commented on #146
Updated table:

<img width="1278" alt="screen shot 2016-12-31 at 10 37 55 pm" src="https://cloud.githubusercontent.com/assets/36433/21580208/e97ef77a-cfa9-11e6-9251-cf22d1fed626.png">

[2017-01-01 10:32] ghost1227 commented on #146
Updated table:

<img width="1278" alt="screen shot 2016-12-31 at 10 37 55 pm" src="https://cloud.githubusercontent.com/assets/36433/21580208/e97ef77a-cfa9-11e6-9251-cf22d1fed626.png">

[2017-01-04 16:29] pippinsplugins opened #148 "Use EDD_Payment to create payment records"
We should be leveraging EDD_Payment for creating the records during downloads.

[2017-01-04 16:53] mintplugins commented on #148
Working for logged in and logged out users here. Payment records are created without any issues and free downloads work as normal.

[2017-01-13 12:39] brashrebel commented on #127
Customer in above ticket responded with some more information.

[2017-01-13 18:34] pippinsplugins commented on #127
@ghost1227 Can you please look at this again?

[2017-01-13 18:35] ghost1227 commented on #127
Sure thing

[2017-02-06 14:41] pippinsplugins opened #150 "Phone field"
It's been requested a few times to have a phone field. Could be nice to have it as an optionally enabled field.

https://secure.helpscout.net/conversation/314699896/52355/?folderId=180505

[2017-02-13 03:24] pippinsplugins commented on #127
Another case of it https://secure.helpscout.net/conversation/318589115/52902/?folderId=180499

[2017-02-13 10:33] ignascb2 commented on #140
I have downloaded the file but i dont see any difference. May I be doing something wrong?

[2017-02-13 16:41] SDavisMedia commented on #140
@ignascb2 if you are having issues, please open a support ticket here: https://easydigitaldownloads.com/support/

[2017-02-14 06:39] samikeijonen commented on #126
Should we go forward with this one?

[2017-02-14 06:50] samikeijonen opened #151 "Minify JS and CSS"
I suggest that JS and CSS files would be minified using Grunt or Gulp tools. Small step for faster sites but always a good one.

[2017-02-14 08:09] ghost1227 commented on #126
@samikeijonen Refresh your PR for the latest version of FD and we can certainly revisit!

[2017-02-15 22:25] pippinsplugins commented on #127
I've replicated the problem on the customer's site and am working on a fix.

[2017-02-15 22:28] pippinsplugins commented on #127
It fails because Free Downloads doesn't run the `edd_requested_file` filter.

[2017-02-15 22:34] pippinsplugins commented on #127
In order for Free Downloads to properly download files from S3, this complete filter needs to run:

[code]

It should run inside of `edd_free_downloads_download_file()` just after the initial headers are output. Unfortunately Free Downloads does not have some of the necessary data ($files array and file key) at this time to include those in the filter, so some additional changes are going to be re

[2017-02-17 07:25] rahilwazir opened #152 "Rebuild modal to be more flexible with purchase links."
The action hooks in `download-modal.php`, passes a parameter `$post`, which holds the current page object instead of each download except single download page.

Right now the download modal have one instance of the template which is reused in runtime, so the `$post` object only usable when viewing single download product.

Real world example:

Add the following action
[code]
The above hook will ad

[2017-02-24 17:04] pippinsplugins commented on #127
Related #147

[2017-02-26 20:40] ghost1227 commented on #127
@pippinsplugins Can you tell me how to reproduce this? I've tested a dozen files from the EDD S3 test account, but can't get it to fail.

[2017-02-28 16:09] pippinsplugins commented on #127
@ghost1227 I gave the exact steps above:

1. Activate Free Downloads And Amazon S3
2. Create a free product and insert a file from the Amazon S3 Library tab
3. Try and download the file
4. It will go to a 404 page or it will download a broken file, depending on the Download Method settings.

[2017-03-14 17:50] SDavisMedia opened #153 "Add support for price_id parameter in [purchase_link] shortcode"
Free Downloads supports variable pricing with a free option but it does not support using the `[purchase_link]` shortcode and targeting that free price option using the `price_id` parameter. I believe it should.

Instead, it just acts like a regular Add to Cart button for a free product.

[2017-03-14 20:48] pippinsplugins opened #154 "Downloads fail when using Auto Download and Dropbox File Store"
When using the Auto Download feature and Dropbox File Store, file downloads don't work. The modal gets submitted but then nothing happens.

[2017-03-14 20:48] pippinsplugins commented on #154
This likely affects Amazon S3 as well.

[2017-03-14 22:14] ghost1227 commented on #154
@pippinsplugins Amazon had its own handler already. DBFS support is in the 154 issue branch

[2017-03-14 22:43] SDavisMedia commented on #154
Replicated on `master` and DFS 1.8.2 and confirmed fixed on FD `issue/154`. :+1:

[2017-03-15 01:54] pippinsplugins commented on #154
Great, deploy at will!

On Tue, Mar 14, 2017 at 5:44 PM Sean Davis <notifications@github.com> wrote:

[2017-03-15 16:46] #154 closed

[2017-03-22 02:58] amdrew opened #156 "Customer not being linked to purchase"
When a customer creates an account from within the modal, the EDD payment is being created _without_ the customer attached. I believe this should attach the customer straight away, since they've just created an account.

![screen shot 2017-03-22 at 3 51 11 pm](https://cloud.githubusercontent.com/assets/52581/24180157/27d7fffa-0f18-11e7-8a51-2e337029aeb2.png)

I've tested https://github.com/easydig

[2017-03-22 14:25] pippinsplugins commented on #156
Probably related to https://github.com/easydigitaldownloads/easy-digital-downloads/issues/5579

[2017-03-28 18:36] mintplugins opened #157 "JS error when 'add-to-cart' is not a class that exists"
This is an integration issue with All Access - which replaces the normal Add To Cart button with a "Download" button. When it does, the 'edd-add-to-cart' class is removed from the button and replaced with a more relevant class from All Access.

This doesn't actually break anything but it does throw an error in the JS console. The error is:

[code]

We'll just need to add a check to make sure that

[2017-04-10 21:15] cklosowski commented on #134
Pretty simple

Allow a store owner to disable auto download (and therefore auto compression to a single file) on a download by download basis.

[2017-04-10 21:19] ghost1227 commented on #134
So this is less about making compression an option and more about adding an option to disable auto download per product, right?

[2017-04-10 21:29] cklosowski commented on #134
They are basically one in the same...you cannot do compression without auto download. and auto download requires compression when there is more than 1 file on the product, so basically the person needs the ability to stop it from copression all the files into one and downlaoding it.

[2017-05-01 14:55] mindctrl commented on #130
Would love to see this fixed asap. This adds extra cruft to pages, even on /checkout. And in cases where the CSS is disabled, or doesn't download due to an HTML timeout/error, it's visible.

[2017-05-10 17:26] ghost1227 commented on #130
It's actually intentional. We can predict pages like the actual download list page (if it's set in settings), and individual download pages, but we can't predict pages that use the shortcodes. Due to how and where the form has to be loaded, we HAVE to load it everywhere for non-standard pages to work at all.

[2017-05-10 17:31] mindctrl commented on #130
Can you not check the page content for the shortcode before adding the modal?

[2017-05-10 17:35] ghost1227 commented on #130
We'd have to run a filter on the page content on every page (not ideal) and it wouldn't be 100% guaranteed. First of all, there's a bunch of shortcodes that COULD be adding download content... EDD core has a few (downloads and purchase_link), FD has its own, plus that wouldn't account for custom themes or templates where they're using the function form.

[2017-05-10 17:37] spencerfinnell commented on #130
Instead of enqueuing your scripts (which loads them immediately) you could register them and then only enqueue them here: https://github.com/easydigitaldownloads/edd-free-downloads/blob/master/includes/filters.php#L68

https://developer.wordpress.org/reference/functions/wp_register_script/

[2017-05-10 17:44] ghost1227 commented on #130
@spencerfinnell It's not the scripts that are the issue. It's the injected hidden form that we add to every page

[2017-05-10 17:57] mindctrl commented on #130
Without having looked deeply at it, I wonder if you can only hook in `edd_free_downloads_display_inline()` when this block runs?

https://github.com/easydigitaldownloads/edd-free-downloads/blob/master/includes/filters.php#L80

[2017-05-10 19:28] ghost1227 commented on #130
Nope. Tried it that way originally. The separate function is only there because trying to do the whole thing inline in that one function failed (and resulted in it loading something like ten modals on download list pages)

[2017-05-10 21:02] mindctrl commented on #130
Ah ok. I thought WP only ran callbacks attached to hooks once unless they have different priorities.

What about doing what I suggested and also adding a `do_action( 'edd_free_downloads_display_inline' );` at the bottom of that function, and then adding a `did_action` check at the top and returning early if it has already done the action?

I think that would only load the modal markup when needed

[2017-06-07 20:00] tungdo opened #158 "Conflict with LiveReload"
This is not big issue. Just bringing this to your attention.

I'm using LiveReload with a WordPress install locally. It works fine until installing EDD Free downloads. The issue is simply the CSS file name. WordPress default stylesheet for themes is "style.css". EDD Free download stylesheet is also "style.css". LiveReload doesn't work when two files of the same name are linked/embeded on the same

[2017-06-07 22:04] kiarashi opened #159 "Hooks missing inside the purchase form"
I noticed that with the _edd_free_downloads_purchase_download_form_ function, you're overriding the EDD's default purchase form.  Inside this function, I'm missing two EDD Hooks:

[code]

Would it be possible to add these to your _edd_free_downloads_purchase_download_form_ function, so your plugin will integrate better inside a theme?

[2017-06-08 17:11] SDavisMedia commented on #131
Hasn't this been addressed already? Seems to be fine now.

[2017-06-08 17:18] SDavisMedia opened #160 "Multiple free price options with direct download ignores file associations"
Ignore the title. Super hard to express what's happening in one sentence.

Configuration:

You have a variable price product where multiple price options are $0.00 (I've been seeing it more and more). You can test with just two options total, both free. Upload a different product file for each free price option. Option one gets file one. Option two gets file two.

In the Free Downloads settings, m

[2017-06-08 17:44] pippinsplugins commented on #160
Explanation makes sense to me.

@ghost1227 this is pretty bad. Can you jump on it asap please?

[2017-06-08 17:45] pippinsplugins commented on #131
If you can't replicate, let's close as fixed.

[2017-06-08 18:03] SDavisMedia commented on #131
Seems good to go.

[2017-06-08 18:03] #131 closed

[2017-06-09 17:23] mintplugins opened #161 "Issues if no file attached and "Bypass if Logged In" for Modal"
If you have the "Bypass If Logged In" option enabled to bypass the popup modal for logged in users and no file is attached, the user is not redirected to the purchase confirmation, nor is any file downloaded. The page simply refreshes with this appended to the URL:

[code]

This should still redirect the customer to the purchase confirmation screen (or their custom redirect) - even if no files are

[2017-06-09 17:24] mintplugins commented on #161
Customer Ticket:
https://secure.helpscout.net/conversation/377350834/60666/

[2017-06-09 20:26] pippinsplugins commented on #161
While this is a bug for sure, is there a reason there is no file attached?

[2017-06-09 21:26] mintplugins commented on #161
Not in this scenario no. However, I could see a situation where you are selling a service or All Access where you might not have one attached.

[2017-06-14 11:51] davidsherlock opened #162 "Free Download status"
At the minute the "Free Downloads" are grouped in with normal transactions within the payment history table. It would be useful to have a new "Free Purchase" status type registered so the transactions can be easily filtered on the purchase history table.

Ideally in the options it would be possible to exclude them (by default) from showing on the purchase history table to make it easier to view _a

[2017-06-14 15:15] pippinsplugins commented on #162
Once we've completed the migration to custom tables this could be possible but not prior to. See https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4576

[2017-06-20 03:06] pippinsplugins opened #163 "File downloads fail on mobile when product has variable prices and file is assigned to price"
File downloads fail on mobile when the following conditions are true:

- variable prices enabled
- file assigned to specific price
- price option is free

Disabling variable prices fixes the issue.

See https://secure.helpscout.net/conversation/374970730/60426/?folderId=180505

[2017-06-21 03:44] amdrew opened #164 "Using exit in download-redirect.php prevents other scripts from loading."
Free downloads uses `exit` here:
https://github.com/easydigitaldownloads/edd-free-downloads/blob/master/templates/download-redirect.php#L135

I understand why this was initially done but this seriously messes with the HTML:

1. The page is now not valid. There's no closing body or html tag:

    <img width="1106" alt="screenshot 2017-06-21 15 37 35" src="https://user-images.githubusercontent.com/5

[2017-06-22 16:33] mintplugins opened #165 "Direct downloads fail on Apple devices."
Because Apple does not allow direct downloading, if you have the "On-Complete Handler" set to "Auto Download", nothing happens.

Perhaps we should add an option to have different On Complete Handlers depending on the type of device the user is on.

On-Complete Handler for Desktop:
On-Complete Handler for Apple Mobile Devices:
On Complete Handler for non-Apple Mobile Devices:

[2017-06-22 17:02] SDavisMedia opened #166 "substr() on purchase button conflicts with custom edd_get_purchase_link() parameters"
In an attempt to restructure to purchase form, this like is used: https://github.com/easydigitaldownloads/edd-free-downloads/blob/4300e757c31c2f18892d1e46bdf99164a848e398/includes/filters.php#L94

The problem is anyone using `edd_get_purchase_link()` can have custom values for the parameters like so:

[code]

With that example, Free Downloads will cut the `text` value off at `-` in the `price-titl

[2017-06-22 17:04] SDavisMedia commented on #166
Ticket: https://secure.helpscout.net/conversation/384135307/61413/?folderId=321418

[2017-06-22 17:56] mintplugins opened #167 "Direct Download does not work on mobile"
If you use the "Direct Download" option and the user is on a mobile device, if they click on the "No thanks I'll download it anyway", nothing happens. This is only an issue on mobile as it works on desktop. I tested using my android.

<img width="954" alt="screen shot 2017-06-22 at 1 54 29 pm" src="https://user-images.githubusercontent.com/1638128/27448317-65a1712c-5752-11e7-9add-3c2671870e6c.png"

[2017-06-22 19:26] pippinsplugins commented on #167
Related https://github.com/easydigitaldownloads/edd-free-downloads/issues/165 https://github.com/easydigitaldownloads/edd-free-downloads/issues/163

[2017-06-22 19:28] ghost1227 commented on #166
Well that's fun! I'll get right on it!

[2017-06-24 00:20] amdrew opened #168 "Fatal error when EDD isn't active"
@ghost1227

[code]

To replicate, deactivate EDD when Free Downloads is still active.

[2017-06-26 03:28] ghost1227 commented on #166
@SDavisMedia I've been trying to find a better way to do this, but nothing is standing out. Got any thoughts?

[2017-06-26 13:17] pippinsplugins commented on #166
@ghost1227 I'm not sure I follow what the substr is doing here. Why is it needed?

[2017-06-27 02:38] ghost1227 commented on #166
@pippinsplugins With the way the button text is output by EDD, it includes the purchase price. Since this code is applied to free products only, by default you end up with a purchase button that says '$0.00 - Free' (or similar). The original purpose of the substr was to strip out that price.

[2017-06-27 02:39] ghost1227 commented on #166
However, as @SDavisMedia said, that method doesn't take into account non-standard forms.

[2017-06-27 04:38] SDavisMedia commented on #166
In EDD 2.8, all of the individual components of the purchase button text will be wrapped in HTML (another reason why solid HTML is so important). https://github.com/easydigitaldownloads/easy-digital-downloads/issues/5657

With that, you may be able to ditch all of this logic and rely directly on CSS.

[code]

[2017-07-06 15:36] retlehs commented on #127
have a few sites where this is an issue still

[2017-07-07 07:39] ghost1227 commented on #167
This should be fixed with #165

[2017-07-07 07:40] ghost1227 commented on #164
This should be fixed with #165

[2017-07-07 07:42] ghost1227 commented on #158
This sounds like it's more of an issue with the LiveReload plugin than with FD. Many plugins use the standard 'style.css' format for their default stylesheet.

[2017-07-07 08:31] amdrew commented on #164
Neat! Though I'm not seeing any difference on the 165 issue branch.

[2017-07-07 14:47] tungdo commented on #158
IMO, it's an issue with neither, subjective really. However, it would be nice to differentiate between theme stylesheet and plugin stylesheet by more than just the enqueue handle. Keeping your stylesheet unique does more good than harm.

[2017-07-08 23:27] ghost1227 commented on #164
Check https://github.com/easydigitaldownloads/edd-free-downloads/pull/169

[2017-07-10 17:26] pippinsplugins commented on #127
@ghost1227 can we get another look at this please?

[2017-07-11 21:12] blackPantherOS commented on #85
Hi! Remote files compression is fail, I get multiple 0B files in a zip file.

[2017-07-19 22:37] SDavisMedia commented on #165
I can't get this to detect that I am on an iPad. And auto-download actually works for me. So from my iPad, it's just respecting whatever the regular on-complete handler is set to.

Someone with an iPhone may want to test.

[2017-07-19 22:40] SDavisMedia commented on #164
@amdrew can you give this a test?

[2017-07-20 00:58] amdrew commented on #164
@SDavisMedia It doesn't look like there have been any more commits since I last tested.

@ghost1227 #169 is the PR for the `issue/165` branch which I tested. I don't see any difference, I still see the `exit()` etc.

What should I be seeing? Does the mobile version now show a modal window instead of the template file with the `exit()`?

[2017-07-20 13:02] mintplugins commented on #165
I just learned that iPads actually have support for file downloading in the latest iOS. Which version are you on @SDavisMedia?

[2017-07-20 17:51] SDavisMedia commented on #165
10.3.2

[2017-07-21 15:05] mintplugins opened #170 "Conflicting plugin "Event Calendar WD""
A customer has reported that the "[Event Calendar WD](https://wordpress.org/plugins/event-calendar-wd/)" plugin caused Free Downloads to not generate payments upon modal form submission.

I just wanted to log this.

[2017-07-24 19:35] mintplugins opened #171 "Fix js error if add-to-cart not on the page"
If there's no add-to-cart element on the page, free downloads has a javascript error:

Uncaught TypeError: Cannot read property 'replace' of undefined on line 12

This happens (for example) if you have All Access enabled and you're logged in with All Access to the product in question - which replaces purchase form with it's own.

[2017-07-25 13:44] #171 closed

[2017-07-25 13:46] pippinsplugins commented on #165
@mintplugins does PR #165 resolve the issue for you?

[2017-07-25 13:46] pippinsplugins commented on #164
@ghost1227 ping

[2017-07-27 15:45] mintplugins commented on #165
@pippinsplugins @ghost1227 Yep this fixes both this and https://github.com/easydigitaldownloads/edd-free-downloads/issues/167 for me 👍

[2017-07-27 15:45] mintplugins commented on #167
@ghost1227 Yep works now 👍

[2017-07-28 15:26] SDavisMedia commented on #160
Still waiting for details, but almost positive I have another customer running into this.

@ghost1227 you around? We need to get this addressed.

[2017-08-02 01:19] ghost1227 commented on #170
Can you tell me if it prevents anything else? IE, are downloads still triggered? Does it JUST block payments, or break entirely?

[2017-08-02 01:21] #165 closed

[2017-08-02 01:23] ghost1227 commented on #164
@amdrew It still exits, but now runs `wp_footer();` before bailing. In my tests, this fixed issues with footer scripts as long as they were being run correctly in the first place.

[2017-08-02 01:26] ghost1227 commented on #166
@SDavisMedia EDD core is on 2.8.1, any word on when this change will happen? I'd love to be able to rely solely on CSS in the future...

[2017-08-02 01:26] #167 closed

[2017-08-02 15:15] SDavisMedia commented on #166
@ghost1227 unfortunately, this enhancement was reverted in 2.8.1. :/ https://github.com/easydigitaldownloads/easy-digital-downloads/issues/5900

I agree that a CSS solution would be best. And @cklosowski says he's going to try to work up a different approach that still includes the new HTML. So perhaps this can wait until after that.

[2017-08-02 21:28] cklosowski commented on #166
Yeah it'll have to wait. I need to build the platform to call all the same previous hooks and filters, yet retain the markup, so going to take some trickery.

[2017-08-31 05:45] ghost1227 commented on #156
@amdrew Can we confirm if this still exists after https://github.com/easydigitaldownloads/easy-digital-downloads/issues/5579?

[2017-08-31 20:48] pippinsplugins commented on #156
Appears to be resolved. None of our sites show the issue.

[2017-08-31 20:48] #156 closed

[2017-09-01 00:40] amdrew commented on #164
@ghost1227 Sadly this isn't fixed.

As per my original comment https://github.com/easydigitaldownloads/edd-free-downloads/issues/164#issue-237406741 some inline styles that are loaded into the `<head>` are not loaded at all.

Free downloads still exits right after its template is loaded. Calling `wp_footer()` won't fix this, since the styles are loaded into the `<head>`.

Here's a simple function

[2017-09-01 01:06] amdrew commented on #156
👍 I can confirm this is now working for me

[2017-09-01 19:36] pippinsplugins opened #173 "Larger files fail when hosted on Amazon S3 and Dropbox"
For a reason I'm not fully aware of, Free Download creates a local version of _all_ externally hosted files and then delivers the _local_ version to the customer instead of downloading directly from the external server.

Doing this 100% negates the purpose of using Amazon S3 and Dropbox for storing files.

We need to _not_ create local versions of externally hosted files and instead download them

[2017-09-01 19:37] pippinsplugins commented on #173
This affects primarily large files because the clone process for large files consumes too much memory, resulting in server timeouts. Smaller files require less processing so they can be cloned successfully, though that still negates the purpose of external file hosting.

[2017-09-01 19:39] pippinsplugins commented on #173
To test:

1. On `master`, upload a really large file (50-500mb) to Dropbox or S3
2. Set that file up as a Free Download
3. Attempt to download that file through Free Downloads using the Auto Download feature
4. The server should timeout.

Repeat test on `issue/173`.

[2017-09-01 20:43] SDavisMedia commented on #173
Replicated on `master`. Working perfectly on `issue/173`. :+1:

[2017-09-01 21:03] SDavisMedia commented on #173
I just tested the caching/bundling of local product files during auto download and everything is still working there to.

[2017-09-03 02:09] ghost1227 commented on #164
@amdrew It seems to me that we can fix that by simply adding an additional call to wp_head at the beginning of the form much like how we added wp_footer... Right? If so, that's an easy fix.

[2017-09-03 13:36] #173 closed

[2017-09-03 18:36] ghost1227 commented on #127
I spent a good bit of time yesterday testing this again, and more just now... Below is a video showing it working on my setup along with screenshots of the download setup. I can't get it to fail for the life of me, regardless of the download, FD, or EDD settings.

[Video](https://s3.amazonaws.com/img0.recordit.co/sbOxsBQzLg.mp4?AWSAccessKeyId=AKIAINSRFOQXTN4DT46A&Expires=1504467172&Signature=mi2lj

[2017-09-03 18:50] ghost1227 commented on #164
Additionally, I dropped your function into my dev site, and got the following on mobile:

![img_0049 2](https://user-images.githubusercontent.com/36433/30005746-e4c9d684-90ae-11e7-9887-273827e82b2a.PNG)

[2017-09-03 19:46] ghost1227 commented on #164
Though I'm not sure that'd work either... @pippinsplugins suggestions?

[2017-09-03 20:22] ghost1227 commented on #166
Roger that!

[2017-09-03 20:25] ghost1227 commented on #168
I'm still not sure the best way to handle this, and it's a HUGE sticking point on pretty much every plugin out there. If you load anything, it is going to fail if EDD is disabled. Wrapping each reference in a check isn't a good solution, we've tried silently bailing if EDD isn't found, but have in the past determined that's not a good solution either... is there any sort of 'standard' at this poin

[2017-09-03 22:50] mindctrl commented on #168
Why do you load the plugin instance when EDD isn't active? https://github.com/easydigitaldownloads/edd-free-downloads/blob/2.1.7/edd-free-downloads.php#L169

Load the whole plugin when there's nothing for it to do seems very inefficient.

[2017-09-04 06:58] amdrew commented on #164
@ghost1227 Including `wp_head()` won't work since you're already loading `edd_free_downloads_display_redirect()` on `wp_head()`. It will create an infinite loop of forms.

From what I can see, the entire issue stems from the `download-redirect.php` template file being injected into the`<head>`, using the `wp_head()` action hook.

If the form is the only thing that is being displayed on mobile (whi

[2017-09-04 14:26] pippinsplugins commented on #127
I believe this was resolved through #173 but going to test now to confirm.

[2017-09-04 14:35] pippinsplugins commented on #127
I've confirmed that this is broken when checking out 9e6234b64074d0697cdec1b420540a870fe2aaef but works on latest master, so #173 did solve this!

[2017-09-04 14:35] #127 closed

[2017-09-04 14:43] pippinsplugins commented on #168
@ghost1227 this should just be simplified a lot. All you need to do is this:

1. Instantiate your class on `plugins_loaded`
2. Put all of your "start up" logic in a method called `init` (or similar)
3. In your `__construct()` method put this:

[code]
Super simple and works perfectly. The activation class you use is way to convoluted and unreliable.

Simplicity is best.

[2017-09-04 15:11] pippinsplugins commented on #147
This is fixed now.

[2017-09-04 15:11] #147 closed

[2017-09-04 15:15] pippinsplugins opened #178 "Files should not be bundled together when all files are assigned to different price options"
This is perhaps an edge case but still a definite problem.

When a product has multiple files uploaded to it, Free Downloads automatically bundles those files into a single zip file in order to deliver one download file.

There is a problem with this, however. Free Downloads assumes that _all_ products with multiple files should have their files bundled together, but this isn't always the case. Ta

[2017-09-04 15:18] pippinsplugins commented on #153
@ghost1227 I've been trying to test this but I cannot because of https://github.com/easydigitaldownloads/edd-free-downloads/issues/178

Can we please get #178 looked at for 2.1.8 as well?

[2017-09-04 15:18] pippinsplugins commented on #178
This is a blocker to testing #153

[2017-09-04 15:26] pippinsplugins commented on #164
@amdrew @ghost1227 this is working great for me, merging.

[2017-09-04 15:26] #164 closed

[2017-09-05 01:14] ghost1227 commented on #178
@pippinsplugins Correction, I can't reproduce it. I did, however, find and fix a bug with Amazon and Dropbox hosted files. Do me a favor, pull issue/178, clear your download cache (uploads/edd-free-downloads-cache) and do a clean test. In my case, I had the zip cached from a previous test that intentionally downloaded all files, and thought I'd duplicated the issue. Once I removed the cached copy,

[2017-09-05 14:28] pippinsplugins commented on #178
@ghost1227 can you please show me your product edit screen?

[2017-09-05 17:06] ghost1227 commented on #178
<img width="765" alt="screen shot 2017-09-05 at 12 04 15 pm" src="https://user-images.githubusercontent.com/36433/30073139-617d03b6-9232-11e7-8ff0-f6a3147c3bd3.png">

"Purchasing" each price option only returns the referenced file. Also tested with a fifth product option set to 'all' and got a zip containing the file for the specific option, as well as the 'all' file.

[2017-09-05 17:07] pippinsplugins commented on #178
@ghost1227 try it again but with the 3rd or 4th price option set to 0.00 instead of the first price option.

[2017-09-05 17:07] ghost1227 commented on #178
Roger, testing

[2017-09-05 17:08] pippinsplugins commented on #178
Note: when a file is assigned to a price option, that file should _always_ be downloaded as is and should not ever be put into a zip file.

[2017-09-05 17:09] ghost1227 commented on #178
The zip only occurs if multiple files are set for a single price option (or all price options).

[2017-09-05 17:09] ghost1227 commented on #178
Tested with this and got just the 5sec-gmaps-plugin.zip the is set for option 2.

<img width="775" alt="screen shot 2017-09-05 at 12 09 15 pm" src="https://user-images.githubusercontent.com/36433/30073341-12227700-9233-11e7-81e6-20f2e44f75c8.png">

[2017-09-05 17:14] pippinsplugins commented on #178
Is that on `master` or `issue/178`?

[2017-09-05 17:15] ghost1227 commented on #178
`issue/178`, but should work the same on both. Nothing changed in the file selection process, just the download handler for Amazon/Dropbox files (on `master` they'd probably be zero-byte files right now, but it'd still only return the right files)

[2017-09-05 17:16] pippinsplugins commented on #178
Please test on master. I want to see you replicate the problem so we can doubly confirm that `issue/178` fixes it.

[2017-09-05 17:16] pippinsplugins commented on #178
Also please go ahead and open a PR for this/

[2017-09-05 17:18] ghost1227 commented on #178
PR opened. tested on `master`, still unable to reproduce.

[2017-09-05 17:18] ghost1227 commented on #178
Oops, didn't mean to hit close.

[2017-09-05 17:41] ghost1227 commented on #168
Ok

[2017-09-05 17:48] ghost1227 commented on #168
@pippinsplugins This seems to work for me... No errors, just displays the notice.

[2017-09-05 17:52] pippinsplugins commented on #168
Works great, thanks!

[2017-09-05 17:52] #168 closed

[2017-09-05 17:54] ghost1227 opened #182 "Improve compression functionality"
Right now, the compression system is kinda crappy. Running compression on-demand like we are currently doing has two major flaws:

1. It delays access to the file for as long as it takes to generate the file
2. Fetching large remote files can result in timeout errors during generation

As I discussed with Pippin today, we need to improve the way compression is handled. Due to the size of the chang

[2017-09-05 17:59] pippinsplugins commented on #153
@ghost1227 This is not working for me. When I attempt to download a file from `[purchase_link id="8" price_id="4"]`, I get this:

<img width="1225" alt="screen shot 2017-09-05 at 12 57 54 pm" src="https://user-images.githubusercontent.com/1034109/30075249-ea5f76b2-9239-11e7-9312-95deab219b3f.png">

Downloading from the main purchase button works fine though.

Product edit screen:
<img width="1067"

[2017-09-05 18:00] pippinsplugins commented on #153
Note: this was using a brand new, locally hosted file I just uploaded.

[2017-09-05 18:21] ghost1227 commented on #153
Note: The bug @pippinsplugins found only exists if a the shortcode is actually on a product page. The latest PR fixes price_id detection.

[2017-09-05 20:42] SDavisMedia commented on #178
So, my test results are messy. For the most part, I get the same results as @ghost1227. With the configuration you described, @pippinsplugins, I can't replicate. It seems to be working fine.

However, I did remember that I once opened a similar issue: https://github.com/easydigitaldownloads/edd-free-downloads/issues/160

That issue depends on Direct Download being enabled. So I enabled that with P

[2017-09-05 21:03] SDavisMedia commented on #163
I believe I've replicated this. On mobile (Android), I get this using the steps above:

<img width="638" alt="screenshot 2017-09-05 13 52 52" src="https://user-images.githubusercontent.com/2359131/30083320-ded75c66-9242-11e7-90e3-496605bad806.png">

Like @pippinsplugins said, the download works fine when variable pricing is disabled.

The problem is I can still replicate on `issue/163`. I get the

[2017-09-05 21:23] SDavisMedia commented on #153
Having a hard time understand where this issue stands. But everything seems to be working for me on `issue/153`. It doesn't matter if there's one button on the page or two. It doesn't matter if it's in a page's content or in a download's content. The new `price_id` appears to be working in all of my tests.

If there's some scenario I'm missing, let me know. Otherwise, the new feature seems to be w

[2017-09-05 21:37] ghost1227 commented on #163
Can you post more info on your setup? I've been unable to reproduce it since `issue/163`. (also, could be cache related... there was a TON of updated JS for this one)

[2017-09-05 21:37] ghost1227 commented on #153
@SDavisMedia Nope, with the latest commits it should work everywhere. My original didn't work in one specific instance that Pippin found, but that's been resolved.

[2017-09-05 21:38] ghost1227 commented on #178
I still can't replicate... even following @SDavisMedia instructions.

[2017-09-05 21:54] SDavisMedia commented on #178
@ghost1227 just to be sure, are your price options and product files in the same exact order as mine above?

[2017-09-05 21:55] SDavisMedia commented on #153
Oh okay. Well that's definitely a :+1: for me then. I couldn't break it.

[2017-09-05 21:57] ghost1227 commented on #178
@SDavisMedia I've tried several configurations, including copying yours exactly from the screenshots. No love.

[2017-09-05 22:22] SDavisMedia commented on #163
@ghost1227 let me know what you'd like to see specifically. Settings or just general info?

[2017-09-05 22:50] ghost1227 commented on #163
Settings and screenshot of the download config for that product

[2017-09-05 22:58] #153 closed

[2017-09-05 23:08] SDavisMedia opened #183 "Do not load resources on checkout"
A customer is having issues with the EDD `Show Terms` link not working on checkout. The problem goes away when Free Downloads is deactivated.

I was able to replicate this quickly, without checking any of my plugin versions. But then I switched back to FD `master` (can't even remember what branch I was on) and pulled down. I can't replicate now, and I can't find where I was able to replicate again

[2017-09-05 23:54] SDavisMedia commented on #163
@ghost1227 here ya go

<img width="1026" alt="screenshot 2017-09-05 16 50 45" src="https://user-images.githubusercontent.com/2359131/30088388-d7a6c432-925a-11e7-93d4-30ac747d0dc3.png">
<img width="1102" alt="screenshot 2017-09-05 16 53 47" src="https://user-images.githubusercontent.com/2359131/30088393-dbe75a84-925a-11e7-91a0-8081b0cf05c6.png">

[2017-09-06 00:28] ghost1227 commented on #163
@SDavisMedia Repull and test again please.

[2017-09-06 00:30] SDavisMedia commented on #163
@ghost1227 Fixed! :+1:

[2017-09-06 00:32] SDavisMedia commented on #163
@pippinsplugins can you test this as well?

[2017-09-06 02:06] ghost1227 commented on #163
Fixed merge conflict

[2017-09-06 02:50] pippinsplugins commented on #163
All works well, merged!

[2017-09-06 02:50] #163 closed

[2017-09-06 02:52] pippinsplugins commented on #178
@ghost1227 please show a screenshot of your exact configuration while attempting to replicate the behavior Sean described.

[2017-09-06 02:57] ghost1227 commented on #178
Current download and extension settings:

<img width="770" alt="screen shot 2017-09-05 at 9 56 24 pm" src="https://user-images.githubusercontent.com/36433/30092549-2d69db3c-9285-11e7-95e6-7ea39cdacb9f.png">
<img width="1068" alt="screen shot 2017-09-05 at 9 56 42 pm" src="https://user-images.githubusercontent.com/36433/30092550-2d6b6592-9285-11e7-818e-22104e31299c.png">

Also tried several other c

[2017-09-06 16:28] cklosowski commented on #178
I cannot replicate this either. This was my configuration/testing. I had `Auto Download` on for testing.

First I setup this configuration, and all files were delivered correctly:
![screen shot 2017-09-06 at 9 25 03 am](https://user-images.githubusercontent.com/1390124/30123019-75cab21a-92e5-11e7-9e22-ff0126c9448a.png)

Then I added a 4th file, set to the `All` assignment, and it also worked:
![sc

[2017-09-06 16:29] cklosowski commented on #178
Actually striek that, it *DID NOT WORK* correctly. it delivered the wrong file

[2017-09-06 17:03] mintplugins commented on #178
It appears to be working correctly for me on `master`.

<img width="1049" alt="screen shot 2017-09-06 at 11 02 27 am" src="https://user-images.githubusercontent.com/1638128/30124597-e5103a84-92f2-11e7-98dd-e42a5d2eff15.png">

<img width="1052" alt="screen shot 2017-09-06 at 11 02 44 am" src="https://user-images.githubusercontent.com/1638128/30124614-f0e6c062-92f2-11e7-911d-1b8e723f90d5.png">

Resu

[2017-09-06 18:52] cklosowski commented on #178
There is another bug in here though. If you have TWO free price IDs and each of those get's a different file, and you include an All file, then it delivers from cache whichever one was delivered first.

Case:
Price ID 1 - Free
Price ID 2 - Free

File ID 1 - Assigned to price ID 1
File ID 2 - Assigned to price ID 2
File ID 3 - Assigned to all

Go 'purchase' Price ID 1 with caching enabled, and then

[2017-09-06 18:55] ghost1227 opened #184 "Cache files don't respect variable price options"
RE: https://github.com/easydigitaldownloads/edd-free-downloads/issues/178#issuecomment-327579540

If you have a product with more than one free option, or change the free option in a variably priced product, FD doesn't account for differences when it creates cache files. Cache files are currently identified only by the download ID. We need to add a specification for WHICH price ID(s) are included

[2017-09-06 19:21] SDavisMedia commented on #184
Replicated the original issue on `master`. Confirmed that two separate free price options deliver different files, as they should, on `issue/184`. Also confirmed on that branch that any other changes to the files, like replacing one of the free files with a different file, causes a new zip to be cached.

Looking good on my end. :+1:

[2017-09-06 19:23] SDavisMedia commented on #178
The [above bug](https://github.com/easydigitaldownloads/edd-free-downloads/issues/178#issuecomment-327579540) confirmed fixed for me on `issue/184`.

[2017-09-06 19:34] #184 closed

[2017-09-06 19:53] mintplugins opened #186 "Better error messages"
Currently, the same error message is used for almost all potential errors while attempting to download a free file.

The error is this:
"An internal error has occurred, please try again or contact support."

When they contact support, the only way we can tell which error they are actually getting is by requesting FTP credentials and debugging the errors to narrow it down.

If each error had a uniq

[2017-09-06 20:01] ghost1227 opened #187 "Missing $hosted variable for direct download"
We recently adjusted the download function to include a $hosted variable identifying where a file was hosted, but a default is never set. As such, if the file is not hosted offsite (Amazon/Dropbox), the variable is never set and causes an error when the function is called.

[2017-09-06 20:02] ghost1227 commented on #187
Fixed with https://github.com/easydigitaldownloads/edd-free-downloads/pull/180 8e50efa

[2017-09-06 20:02] #187 closed

[2017-09-08 17:05] mindctrl opened #188 "Improve cache invalidation"
In #173, it was decided to not cache external files from Amazon S3 and Dropbox. We just ran into an issue on the RCP site of outdated files being delivered from wordpress.org due to the caching.

The outdated file was greater than 7 months old, so this has been going on for some time.

Is there any value in caching these download files? If the file is being hosted from remote, there's probably a r

[2017-09-08 17:06] pippinsplugins commented on #188
Related #182 and #178

[2017-09-09 09:36] blackPantherOS opened #189 "Can't enable Required login"
Hi,

On Settings > Other > Orders
I can't enable "Require Login  [ x ] Require that users be logged-in to purchase files" because still unchecked after I try save settings on page
also
I can't select in "Show Register / Login Form?" row the "Only Registration Form"  and " Login and Registration Form" because switch "None" after I try save settings on page

Do you have any suggestions?
Regards

[2017-09-11 00:52] pippinsplugins commented on #189
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2017-09-11 00:52] #189 closed

[2017-09-15 18:09] pippinsplugins commented on #188
At minimum let's fix the bug that causes cached files to be delivered even when caching is disabled in settings.

[2017-09-15 18:11] pippinsplugins commented on #161
Let's resolve this by redirecting to the success page without a file download action when there are no download files.

[2017-09-18 03:20] KienTrong opened #191 "Exclude Free Downloads in Reports"
Hi, how can I exclude Free Downloads purchases so the report can show actual purchase and Google Analytic Ecommerce show correct conversion rate for premium product?

Thanks.

[2017-09-18 04:28] chriscct7 commented on #191
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2017-09-18 04:28] #191 closed

[2017-09-19 00:02] mintplugins opened #192 "Zip archive contains 404 error code"
If your site uses .htaccess to block direct access to internal files, when Free Downloads tries to add those files, because it does so using the direct url to the internal file (which is blocked), the contents of that file are actually the HTML code of the 404 error page.

Because of this, we have to find another way to access those internal deliverable file when adding them to the zip archive. Pe

[2017-09-19 00:18] mintplugins commented on #192
Customer ticket:
https://secure.helpscout.net/conversation/419346899/65391/

[2017-09-20 16:57] mintplugins commented on #192
Additionally, in testing this, the local vs non-local check for the file location was failing.

My file was hosted locally - but the function `edd_free_downloads_get_host ` was saying the file was hosted foreign.

[2017-09-20 22:07] dannyb195 commented on #186
logic statements to address

- [ ] edd_is_email_banned
- [ ] download_id
- [ ] download
- [ ] download->post_type
- [ ] published download

[2017-09-21 14:30] pippinsplugins commented on #13
New request for this https://secure.helpscout.net/conversation/435769792/67126/?folderId=180499

[2017-09-21 15:41] dannyb195 commented on #186
https://github.com/easydigitaldownloads/edd-free-downloads/pull/193

[2017-09-21 18:29] dannyb195 commented on #183
I was able to reliably reproduce this issue using the 2017 theme and up-to-date EDD and EDD Free Downloads. After reviewing the user's site I noticed that Thickbox ([https://wordpress.org/plugins/thickbox/](https://wordpress.org/plugins/thickbox/)) is installed.

My local installed worked as expected until I activated Thickbox. This said unchecking the "Include jQuery" box on the Thickbox settings

[2017-09-21 18:55] pippinsplugins commented on #183
@dannyb195 not quite clear. Does checking the `Include jQuery` option resolve the problem?

[2017-09-21 18:57] SDavisMedia commented on #183
@pippinsplugins my interpretation is that unchecking it resolves the problem. I've reached out to the customer already to suggest this. I'll update this issue once I hear back.

[2017-09-22 14:20] dannyb195 commented on #170
This has been confirmed on the stock 2017 theme

with Event Calendar WD active
<img width="572" alt="screen shot 2017-09-22 at 9 17 07 am" src="https://user-images.githubusercontent.com/247887/30748836-1b4288ba-9f77-11e7-9fbc-a18443cddd8a.png">

with Event Calendar WD *not* active
<img width="599" alt="screen shot 2017-09-22 at 9 18 22 am" src="https://user-images.githubusercontent.com/247887/3074

[2017-09-22 15:26] dannyb195 commented on #170
for some reason when both Event Calendar WD and EDD Free Downloads are both active EDD core function of edd_is_payment_complete() believes that the $payment->status is `future` rather than `publish`

[2017-09-22 18:27] dannyb195 commented on #170
this has been reported to Event Calendar WD at https://wordpress.org/support/topic/inadvertent-php-global-timezone-setting/

[2017-09-22 18:27] #170 closed

[2017-09-25 17:26] dannyb195 commented on #161
https://github.com/easydigitaldownloads/edd-free-downloads/compare/release/2.2.0...issue/161?expand=1

[2017-09-25 18:47] dannyb195 opened #196 "Logged in user when bypassing the purchase modal does not create a purchase record"
step to create

1. enable bypass if logged in
2. purchase a free product
3. no purchase record will be created

desired functionality is that a purchase record will be created thus # 3 above is a bug.

found while testing #161

[2017-09-25 18:49] dannyb195 commented on #161
found new bug that a new purchase record is not created for logged in users with the modal off as recorded in #196

[2017-09-25 18:50] dannyb195 commented on #196
this is a blocker of #161

[2017-09-25 21:29] pippinsplugins commented on #196
At some point I recall having a discussion about this and the decision being made to intentionally not create purchase records here.

I think we should now go ahead and adjust it a bit:

1. If the logged-in user has _not_ purchased the item, create a purchase record
2. If the logged-in user _has_ purchased the item already, do not create a purchase record

[2017-09-25 22:52] cklosowski commented on #196
I'm good with this decision. The fact that we weren't recording even a first transaction seems odd, but we deff need it for the acse of #161.

[2017-09-27 14:23] pippinsplugins opened #197 "Add integration for Active Campaign"
Our Active Campaign extension is getting updated to match ConvertKit, MailChimp, etc, so we should add support for it.

See https://github.com/easydigitaldownloads/edd-activecampaign

[2017-09-27 14:25] pippinsplugins commented on #197
https://github.com/easydigitaldownloads/edd-activecampaign/pull/17

[2017-09-27 14:40] #197 closed

[2017-09-27 18:00] dannyb195 commented on #196
https://github.com/easydigitaldownloads/edd-free-downloads/pull/195

[2017-09-27 20:44] mintplugins commented on #161
@dannyb195 Looks good in my tests.

I'm wondering if we could fix a somewhat related issue here as well.

If you try to download a free product on android while logged in in this scenario (with a product attached or not), it redirects to have `&edd_action=free_downloads_process_download&download_id=8&price_ids=` appended to the URL. The problem is that there isn't a `?` in the URL so `&` shouldn't

[2017-09-27 20:52] mintplugins commented on #161
Nevermind I'm making this a separate issue.

[2017-09-27 20:54] mintplugins opened #199 "On Mobile, logged in user with modal blocked get 404"
If you try to download a free product on mobile while logged in in this scenario (with a product attached or not), it redirects to have &edd_action=free_downloads_process_download&download_id=8&price_ids= appended to the URL. The problem is that there isn't a ? in the URL so & shouldn't be used.

You can test this by viewing the product like this:

Make sure you are logged in
Make sure popup modal

[2017-09-27 21:06] mintplugins commented on #199
Possibly related:
https://github.com/easydigitaldownloads/edd-free-downloads/issues/122

[2017-09-27 21:07] mintplugins opened #200 ""Bypass If Logged In" bypasses if logged out."
When I have "Bypass If Logged In" in order to prevent the popup modal from being used for logged-in users, it also prevents the popup modal from being used for logged out users.

[2017-09-27 21:09] mintplugins commented on #199
This seems to be caused by this line:
https://github.com/easydigitaldownloads/edd-free-downloads/blob/master/assets/js/edd-free-downloads.js#L350

I don't think creating these links in javascript is the best way to do it because you aren't running them through add_query_arg

[2017-09-28 14:58] dannyb195 commented on #159
PR at https://github.com/easydigitaldownloads/edd-free-downloads/pull/201

[2017-09-28 17:09] mintplugins opened #202 "Major change proposal"
I'd like to consider the idea of stripping a few things out of Free Downloads. All of this is up for discussion of course, as removing things can cause uproars and riots in the streets :)

Perhaps the things we remove can be left-in for pre-existing customers, but remove them for future customers only. Point being, the main goal of this is reduce the number of settings and options the customer has

[2017-09-28 17:31] pippinsplugins commented on #159
Looks great and works great, merged!

[2017-09-28 17:31] #159 closed

[2017-09-28 17:42] #186 closed

[2017-09-29 14:12] dannyb195 commented on #196
closing PR #195 (this) due conversation with pippin to do two difference PRs for #161 and #195

[2017-09-29 14:13] dannyb195 commented on #161
closing PR #195 (this) due conversation with pippin to do two difference PRs for #161 and #195

[2017-09-29 16:48] dannyb195 commented on #157
PR at https://github.com/easydigitaldownloads/edd-free-downloads/pull/190

[2017-09-29 17:14] mintplugins commented on #157
The fix in its current state didn't work because running `classes.length` also resulted in an undefined error. By checking if the `classes` variable has any value at all before using it, it solves the issue. I added a commit which does that to the PR. It changes `if ( classes.length )` to ` if ( classes ) `.

[2017-09-29 17:19] mintplugins commented on #157
Actually, this was resolved already...I think we can just close this.

[2017-09-29 17:22] mintplugins commented on #157
This issue is a duplicate of https://github.com/easydigitaldownloads/edd-free-downloads/issues/171

Closing and deleting branch

[2017-09-29 17:22] #157 closed

[2017-09-29 17:34] dannyb195 commented on #152
This is confirmed on WP 4.8.2 and EDD FD release/2.2.0 using the 2017 theme

[2017-09-29 19:05] dannyb195 commented on #152
A rather quick solution to this may be to do something like:

<img width="753" alt="screen shot 2017-09-29 at 2 03 44 pm" src="https://user-images.githubusercontent.com/247887/31031709-1043c7fa-a51f-11e7-89f0-acf8ce264f06.png">
<img width="304" alt="screen shot 2017-09-29 at 2 03 52 pm" src="https://user-images.githubusercontent.com/247887/31031710-104521e0-a51f-11e7-9730-0e9d80146639.png">

thoug

[2017-09-29 19:49] rahilwazir commented on #152
I've had solved this issue, when I reported it (in-short):
**Retrieve the post object using AJAX request, reading the download id from data attribute of the current item.**

But we shouldn't limit it to post title only, user might need the whole post object.
So it would be best if we trigger custom event `jQuery(document).trigger()` for users to listen and manipulate afterwards..

Or we can post w

[2017-10-01 11:15] hiddenpearls commented on #162
@davidsherlock A very good suggestion indeed.
@pippinsplugins This really messes up the Real purchases data with Free downloads. It would be a lot helpful If we can see the Real Purchases by default and could see Free downloads with an option.

[2017-10-02 15:03] #183 closed

[2017-10-02 15:04] pippinsplugins commented on #148
@dannyb195 could you review this and give it some thorough testing to ensure it's all working.

[2017-10-02 15:05] pippinsplugins commented on #148
It will need a merge conflict resolution.

[2017-10-02 15:32] pippinsplugins commented on #161
Just one little issue I found with this: missing `exit;` after the redirect. I've added it.

[2017-10-02 15:33] #161 closed

[2017-10-02 15:35] dannyb195 commented on #148
PR at https://github.com/easydigitaldownloads/edd-free-downloads/pull/149

[2017-10-02 19:38] pippinsplugins commented on #162
@hiddenpearls it's on our long term todo list still but it cannot happen until the custom tables migration is complete.

[2017-10-04 15:48] cklosowski opened #203 "Add unit testing to Free Downloads"
As this picks up popularity, it would be nice to get a unit testing matrix around this to make sure things can be properly unit tested across multiple versions of PHP and WP.

[2017-10-05 21:58] pippinsplugins opened #204 "File downloads from Amazon S3 / Dropbox fail when Auto Download is enabled"
If the `On-Complete Handler` is set to `Auto Download` and Amazon S3 is being used, download files come down at 0 bytes.

[2017-10-05 21:59] pippinsplugins commented on #204
Ticket: https://secure.helpscout.net/conversation/443108809/67867/

[2017-10-05 22:03] pippinsplugins commented on #204
This also affects files on Dropbox.

[2017-10-05 22:17] pippinsplugins commented on #204
This is actually working fine for me with S3.

To replicate on `master`:

1. Create free product with a file stored on Dropbox through [Dropbox File Store](github.com/easydigitaldownloads/edd-dropbox-file-store)
2. Enable `Auto Download` for the `On-Complete Handler` in FD settings
3. Download the file and you will receive a corrupted file
4. Repeat tests on `issue/204`

[2017-10-05 22:21] sunnyratilal commented on #204
Bug replicated on `master` and fix confirmed on `issue/204`

[2017-10-06 10:42] samikeijonen commented on #126
I have totally forgot about this. I can re-visit this if you still think it's going to make it.

[2017-10-06 14:43] pippinsplugins commented on #126
@samikeijonen no worries, we're working on a lot of changes to the plugin so not 100% certain if this will be relevant now.

[2017-10-06 14:48] dannyb195 commented on #126
@samikeijonen follow up to pippin's comments, this is partly related to #152 and I am currently working on rewriting the modal which will hopefully remove the JS need to check for mobile as well as the removal of jBox.js

[2017-10-06 14:56] samikeijonen commented on #126
That would be great, there is no need for it. Let me know if you need help on accessibility. These are the [modal dialog criterias that should be met](https://www.w3.org/TR/wai-aria-practices/#dialog_modal).

[2017-10-06 18:03] pippinsplugins commented on #202
Milestoning for 3.0 for further discussion.

[2017-10-06 18:03] pippinsplugins commented on #178
Punting to 2.3 for now.

[2017-10-06 18:42] dannyb195 commented on #152
This issue has identified that the shortcode for free downloads uses the global post ID thus resulting in the page title being pulled as originally reported. @cklosowski and I have decided that a full re-write of the modal is appropriate in this situation to allow for 1. the action `edd_free_downloads_before_modal_form` to behave as intended and 2. to allow for more than 1 shortcode on a page / po

[2017-10-12 17:53] dannyb195 opened #207 "Determine if libraries/mobile-detect and assets/isMobile.js can be removed"
After the merge of https://github.com/easydigitaldownloads/edd-free-downloads/pull/206/ we should investigate libraries/mobile-detect and assets/isMobile.js can safely be removed as #206 is now using WP Core's wp_is_mobile() function check.

[2017-10-12 17:56] dannyb195 commented on #152
PR at https://github.com/easydigitaldownloads/edd-free-downloads/pull/206/files

[2017-10-12 18:59] dannyb195 commented on #122
A note on reproducing per 3rd point in the initial comment. You must add the query string, _then_ reload the page with the new fake query string to duplicate this issue.

[2017-10-12 19:40] samikeijonen commented on #207
Where do you need mobile detection? I also don't see where `wp_is_mobile()` should be used, it's kind of a weird function:)

[2017-10-12 20:21] pippinsplugins commented on #152
@dannyb195 I've run it through a few tests and found a few items.

1. File downloads fail completely when the `Bypass if logged in` setting is enabled. The download buttons just don't do anything.

2. The modal window overlay is not filling the whole window:
<img width="1549" alt="screen shot 2017-10-12 at 3 17 51 pm" src="https://user-images.githubusercontent.com/1034109/31517152-abd89146-af60-11

[2017-10-12 20:28] dannyb195 commented on #122
PR at https://github.com/easydigitaldownloads/edd-free-downloads/pull/208/files

[2017-10-12 20:32] pippinsplugins commented on #122
PR works great, merged!

[2017-10-12 20:32] #122 closed

[2017-10-12 20:51] dannyb195 commented on #123
Test Theme: 2017

Without Free Downloads active:
<img width="557" alt="screen shot 2017-10-12 at 3 45 10 pm" src="https://user-images.githubusercontent.com/247887/31518353-9770bc16-af64-11e7-8782-6c3e5e0e2ba2.png">

With Free Downloads active:
<img width="549" alt="screen shot 2017-10-12 at 3 45 30 pm" src="https://user-images.githubusercontent.com/247887/31518509-18f89dbc-af65-11e7-8ba8-eb69b90d1

[2017-10-12 21:55] #123 closed

[2017-10-13 18:44] pippinsplugins commented on #152
Getting close!

1. This is fixed for products that have a file attached. It fails, however, with products that do not have a file attached. Products without files are supposed to redirect to the confirmation page but right now it triggers a JS error:

Uncaught TypeError: Cannot read property 'split' of null
https://edd.com/wp-content/plugins/edd-free-downloads/assets/js/edd-free-downloads.js?ver=2

[2017-10-13 19:17] dannyb195 commented on #152
Concerning @pippinsplugins ' above bullet point 5 this is what the logged out modal looks like for me on a 13" MBP. (slightly zoomed out to get the entire modal)

<img width="610" alt="screen shot 2017-10-13 at 2 15 28 pm" src="https://user-images.githubusercontent.com/247887/31562458-25fe7b14-b021-11e7-889d-bfd33dc5cf55.png">

[2017-10-16 00:27] pippinsplugins commented on #152
@dannyb195 just tested again on a difference machine and still see the issues.

Was a CSS file not added to git perhaps?

Looks like there is also a merge conflict now that will need to be resolved.

[2017-10-16 15:24] dannyb195 commented on #152
My local on 2560x1440 (2017 theme):
![screen shot 2017-10-16 at 10 14 33 am](https://user-images.githubusercontent.com/247887/31620076-eb3b3692-b25b-11e7-97b8-db6206d7c265.png)

Live 152-v2 branch on my 2560x1440 (2014 theme):
![screen shot 2017-10-16 at 10 21 13 am](https://user-images.githubusercontent.com/247887/31620200-40769778-b25c-11e7-83a9-8c674ed332d2.png)

[2017-10-16 15:42] pippinsplugins commented on #152
@cklosowski can you replicate my issue>

[2017-10-16 17:30] dannyb195 commented on #130
https://github.com/easydigitaldownloads/edd-free-downloads/pull/206 should address this issues. While it will still load an empty div on every page it should result in a lighter solution while also removing the jBox.js library. @cklosowski I think we can close this or make it dependent on #152

[2017-10-16 17:33] dannyb195 commented on #132
This should also be taken care of via https://github.com/easydigitaldownloads/edd-free-downloads/pull/206 . @cklosowski I think we can close this upon approval of PR #206

[2017-10-16 19:11] cklosowski commented on #152
Modal is looking ok to me on `issue/152-v2`
![screen shot 2017-10-16 at 12 10 37 pm](https://user-images.githubusercontent.com/1390124/31630309-15bcdcb8-b26b-11e7-9c24-0d0df21d4a10.png)

[2017-10-16 19:11] cklosowski commented on #152
This was with a logged out user.

[2017-10-16 19:12] cklosowski commented on #152
Logged in with ByPass Modal _unchecked_
![screen shot 2017-10-16 at 12 11 38 pm](https://user-images.githubusercontent.com/1390124/31630353-36cdfd74-b26b-11e7-8fd2-5121a7db2f7d.png)

[2017-10-16 19:14] cklosowski commented on #196
Found a small issue here...I'm not getting a gateway on the bypass when logged in:
![screen shot 2017-10-16 at 12 13 19 pm](https://user-images.githubusercontent.com/1390124/31630448-7b6d4854-b26b-11e7-8fd1-a0be5547accd.png)

[2017-10-16 19:14] cklosowski commented on #196
@dannyb195 Can you look at the above and address that?

[2017-10-16 19:24] cklosowski commented on #130
Let's leave it open, and when we release #152, we can consider this closed. Since #152 will make it so just the empty wrapper loads, that should take care of the `form` elements from being shown.

[2017-10-16 19:50] cklosowski commented on #132
I agree, with #152, let's leave this open, but re-test this once we have #152 merged in and tested.

[2017-10-16 19:53] cklosowski commented on #120
Let's handle this in #152, with the modal rewrite.

[2017-10-16 20:41] cklosowski commented on #196
A few more things to test here, now that I re-opened it, all while logged in and bypass modal is enabled:
1) The gateway is properly set
2) The payment note is added stating it was delivered via free downloads
3) Test that you get the purchase confirmation for the following config:
a) Bypass Modal when logged in
b) Logged in
c) Download has files
d) Redirect to purchase confirmation is the on-comp

[2017-10-17 14:51] dannyb195 commented on #196
https://github.com/easydigitaldownloads/edd-free-downloads/issues/196#issuecomment-337034672 is confirmed locally by me

[2017-10-17 14:56] dannyb195 commented on #120
This should be taken care of in #206 via
https://github.com/easydigitaldownloads/edd-free-downloads/pull/206/commits/f9501496db95228cb84ee7b240781f4fb8424054

and

https://github.com/easydigitaldownloads/edd-free-downloads/pull/206/commits/eb0c0d26498123a30f4634830e60da2584acd767

[2017-10-17 17:01] #196 closed

[2017-10-17 17:15] cklosowski commented on #148
This was merged, going to close it out.

[2017-10-17 17:15] #148 closed

[2017-10-17 17:28] cklosowski commented on #124
@dannyb195 Let's see if your rewrite can do this for us in #152. Now that we've dropped reliance on a modal library, and we're running most of the JS, we can do this much easier I believe.

[2017-10-17 17:53] cklosowski commented on #93
This is still an issue, here is my modal while logged out:
![screen shot 2017-10-17 at 10 51 58 am](https://user-images.githubusercontent.com/1390124/31680477-43818fea-b329-11e7-9a24-7686315c20e4.png)

And my EDD setting showing that I allow guest checkout:
![screen shot 2017-10-17 at 10 52 32 am](https://user-images.githubusercontent.com/1390124/31680496-56525604-b329-11e7-8125-6bf1c0a8881a.png)

[2017-10-17 18:26] cklosowski commented on #145
For now, what if we just simply appended the 'purchase key' to the redirect? That way someone could pull that data in a custom plugin. Would that achieve what we want?

[2017-10-17 20:23] dannyb195 commented on #124
this should be address via https://github.com/easydigitaldownloads/edd-free-downloads/pull/206/commits/076cb2f0da5b273986bcd66b70574a4af4f46839

[2017-10-17 21:17] dannyb195 commented on #124
PR comment, https://github.com/easydigitaldownloads/edd-free-downloads/commit/076cb2f0da5b273986bcd66b70574a4af4f46839#commitcomment-25038694

[2017-10-17 21:26] dannyb195 commented on #124
moving focus to first input field per https://github.com/easydigitaldownloads/edd-free-downloads/pull/206#commitcomment-25038694

via https://github.com/easydigitaldownloads/edd-free-downloads/pull/206/commits/3af03103e0d9db60e420cb3e5417da8f43c593a1

[2017-10-17 23:49] cklosowski commented on #124
This is working fine in #206 (#152)

[2017-10-17 23:49] cklosowski commented on #152
Ok I replicated some CSS issues when the content of the page doesnt' go full height:
![screen shot 2017-10-17 at 4 48 51 pm](https://user-images.githubusercontent.com/1390124/31694805-2e6c39c0-b35b-11e7-97fd-9c27b332a662.png)

[2017-10-17 23:51] cklosowski commented on #152
@dannyb195 I'm still having an issue in this branch (not `release/2.2.0`) where a logged in user with bypass modal is getting a purchase receipt from an incorrect payment record.

[2017-10-18 15:42] dannyb195 commented on #93
The option and modal output has been added here https://github.com/easydigitaldownloads/edd-free-downloads/compare/release/2.2.0...issue/93?expand=1 though the logic for bypassing the fields is not yet done as this work is dependent on the #206 PR which is a rather large rewrite of the modal itself

[2017-10-18 17:31] cklosowski commented on #192
I'm wondering if it would be helpful to actually use the EDD tokenized file URLs to pull those into a /tmp directory and compress them from there?

That way a file download log would still be produced, we don't have to worry about the access restrictions, and we also get the added benefit of doing it in a space that's usually not persistent.

[2017-10-18 17:40] mintplugins commented on #192
That's probably a good solution

[2017-10-18 17:41] cklosowski commented on #128
I'm not sure I agree with a whole new 'status' for these payments. That would pose some serious issues with lots of other extensions needing to update in order to accommodate the 'free_download' status for things like licenses, etc.

I think, like we did with the 'gateway' and 'software licensing' filters. We could add a new filter in for 'non-free' or some other wording, that would eliminate paym

[2017-10-18 21:08] cklosowski commented on #166
Punting from 2.2.0, the rewrite of the EDD Core function is not done yet and will make this a _far_ less 'hacked' approach.

[2017-10-18 22:32] cklosowski commented on #128
I've been thinking on this throughout the day. I think it'd be best to do this in EDD Core. I'm thinking an 'Advanced Filters' section in the row (it's starting to get cluttered with other add-ons) here:
![screen shot 2017-10-18 at 3 32 36 pm](https://user-images.githubusercontent.com/1390124/31745921-9bbd0554-b419-11e7-98db-b88ca7dfed61.png)

[2017-10-18 22:48] cklosowski commented on #128
I've opened this issue up on EDD Core to see if we can get something worked up for this: https://github.com/easydigitaldownloads/easy-digital-downloads/issues/6086

[2017-10-18 22:48] #128 closed

[2017-10-18 23:29] cklosowski commented on #152
It doesn't appear as this is supporting Price IDs in variable pricing. The only things send to the `get_modal` function are the download ID, and requirements for fields. We also need to send in if the person has a price ID selected.

It's also possible to have a variable priced product with paid and free terms, so the modal would only need to fire on the free item, not the paid one.

[2017-10-19 14:35] dannyb195 commented on #152
per private slack conversation on 10/18 @cklosowski is taking this issues over

[2017-10-19 16:14] SDavisMedia opened #210 "Reload warning for Purge Cache setting"
In the Free Downloads settings, there is a `Purge Cache` button that allows you to empty the file cache created by FD.

The problem is clicking this button reloads the page. It's at the bottom of the screen and there's always a good chance that other settings on the page have been adjusted before clicking the purge cache button. I did this myself a few days ago and a customer opened a ticket sugge

[2017-10-19 19:53] cklosowski opened #211 "On Complete handler not always respected for logged in when bypass modal is enabled"
Scenario:
1) Logged In User
2) Bypass Modal for logged in enabled
3) On-Complete Handler: Purchase confirmation

When using this scenario, the files just auto-download, without redirecting to the purchase confirmation.

I've confirmed this is a bug on `master` as well as `release/2.2.0` and is not directly fixed in #152, as it's not the same scope.

[2017-10-19 21:06] cklosowski commented on #152
@easydigitaldownloads/contributing-devs I think I've got this to a point where I'm ready for some of ya'll to break it :)

[2017-10-19 21:06] cklosowski commented on #152
Sorry for the mis-tag...that should have been `core-devs` not `contributing-devs`

On a side note, Hello all you contributing devs :)

[2017-10-19 22:35] sunnyratilal commented on #152
@cklosowski I've tested with a variety of different configurations of the settings and I can't seem to break it. 🎉

However, this is one thing, when click the `Download Now` button, the AJAX request from EDD is still being triggered and returning `400 Bad Request` (you should see it in the Console).  The error is only caused when clicking the `Download Now` button for a free download; any other pu

[2017-10-19 22:38] cklosowski commented on #152
Thanks @sunnyratilal I'll try and replicate that.

[2017-10-20 12:57] dannyb195 commented on #118
@cklosowski and I decided that leaving the current setting while adding a "disable admin emails" option is the correct path to preserve backwards compat on this issue. This is in progress at https://github.com/easydigitaldownloads/edd-free-downloads/compare/release/2.2.0...issue/93?expand=1

[2017-10-20 16:02] dannyb195 commented on #151
PR at https://github.com/easydigitaldownloads/edd-free-downloads/pull/213/files

[2017-10-20 17:47] dannyb195 commented on #110
placing this on hold till #152 gets merged to milestone 2.2.0

[2017-10-20 18:01] dannyb195 commented on #119
Current QA testing:

Logged in, direct download checked, custom redirect set
*result: user ends up being sent to purchase confirmation page*
*this is an error - expected behaviour direct download and then redirect*

Logged in, direct download checked, display purchase confirmation is selected
*result: user ends up being sent to purchase confirmation page*
*this is an error - expected behaviour is

[2017-10-20 18:57] cklosowski commented on #118
There's 1 problem I'm seeing.

this allows you to disable all emails, or just the admin email. We need a 3rd option, to disable the customer email but allow the admin email.

We should also probably update the setting name of `Disabled Emails` to read `Disable Purchase Confirmation`

And the admin option to `Disable Admin Sales Notifications` to follow what EDD Core calls those.

[2017-10-20 20:06] cklosowski commented on #118
That may sound confusing, we don't need another setting, just the logic needs to shift a little to allow triggering the admin notice without the purchase confirmation notice.

[2017-10-20 20:19] dannyb195 commented on #118
@cklosowski I think we *do* need an additional option in this case:

1. Send everyone an email (already taken care of)
2. Send on only the custom an email (as seen in PR #212 )
3. Send only admins a purchase confirmation (not yet done - which is what we are talking about right now)

[2017-10-20 20:22] cklosowski commented on #118
I disagree, two options is sufficient to do all the checks necessary.

By changing the title of the existing option to only be for the customer purchase confirmation, we can change the logic behind it to also check if the admin notification should still be sent.

Three options seems overkill to stop 2 emails.

[2017-10-20 20:25] dannyb195 commented on #118
@cklosowski if I understand you correctly you propose the following options:

1. "Dont send to customer"
2. "Dont send to admins"

is this correct?

[2017-10-20 20:26] cklosowski commented on #118
Correct, most people who use the existing option, use it to stop the purchase confirmation from getting sent to customers, so by simply converting that setting to mean customers only, we can use some of the existing filters in EDD to what we need.

[2017-10-20 20:48] cklosowski commented on #152
@sunnyratilal I'm not seeing this 400 error, when you get a minute circle around with me so we can talk though it.

[2017-10-20 22:29] cklosowski commented on #152
Fixed up a few more bugs in the way that the on-complete handling is done. @sunnyratilal give that another shot, tell me if you are still getting the errors you saw before.

[2017-10-20 22:56] cklosowski commented on #211
This might have been fixed in #152.

[2017-10-23 14:32] sunnyratilal commented on #152
@cklosowski Just tested and no longer seeing the errors 👍

[2017-10-23 15:59] cklosowski commented on #152
@easydigitaldownloads/core-devs This could use a final go through before merging it in.

[2017-10-23 16:22] mintplugins commented on #152
On mobile I am seeing different behaviour in `master` vs `issue/152 v2`.

On `master` I get this for the modal:
<img width="214" alt="screen shot 2017-10-23 at 10 20 43 am" src="https://user-images.githubusercontent.com/1638128/31900550-ff2d969c-b7db-11e7-85b6-947ccf8971bd.png">

On `issue/152 v2` I am seeing this:
<img width="212" alt="screen shot 2017-10-23 at 10 17 18 am" src="https://user-imag

[2017-10-23 17:43] mintplugins commented on #199
Tested and confirmed fixed in #152

[2017-10-23 18:15] mintplugins commented on #152
Confirmed modal works correctly on mobile now (from screenshots above)

[2017-10-23 19:17] dannyb195 commented on #192
@mintplugins I cannot reproduce this bug using the current release/2.2.0 branch... can you confirm that this is no longer an issue please. Both "bypass if logged in" and "direct download" are selected on a clean install using Local by Flywheel using apache.

[2017-10-23 20:31] dannyb195 commented on #188
Reproduced by:
1. Creating a multiple file download product with caching *on* (having an external file seem moot at this point)
2. Download the product to trigger the caching process
3. Go to Downloads > settings > extensions and selecting `disable cache`

The most direct solution would seem to be clear *all* cache on save is the `disable cache` option is set if it was not set previously.

[2017-10-23 21:00] mindctrl commented on #188
Imagine a scenario where someone uses EDD Software Licensing readme.txt parsing to maintain changelog and version info on a download, and the file is hosted remotely. They don't need to regularly update the download since the version/changelog info is maintained during update checks, so you can't rely on `save_post` to clear the cache for that download.

Also consider that if someone is tracking t

[2017-10-23 22:05] mintplugins commented on #152
Scenarios tested with success 👍 :

**Logged in, modal disabled, multi-price mode:**
Single checked - no payment record, single product in cart
Multiple checked - yes payment record, multiple products in cart

**Logged in, modal disabled, multi-price mode:**
Single checked - yes payment record, single product in cart
Multiple checked - yes payment record, multiple products in cart

**Logged out, mo

[2017-10-23 22:08] mintplugins commented on #152
However, the direct download does not seem to do anything as far as I can tell. No errors in console and no URL changes or refreshing:

<img width="373" alt="screen shot 2017-10-23 at 4 07 38 pm" src="https://user-images.githubusercontent.com/1638128/31915628-674e75ae-b80c-11e7-9b8a-d43b064b900e.png">

[2017-10-23 22:16] cklosowski commented on #152
@mintplugins ok I'll be able to fix that up, as a note, the direct downloads follows a lot of the same logic as the Logged in with modal bypass, but they _will not_ create a payment record (since we cannot know an email address if they don't enter it)

[2017-10-23 23:27] cklosowski commented on #152
@mintplugins should be all fixed up.

Another testing note, if you could set your Chrome bandwidth throttle to Slow 3G and test out popping the modals that would be awesome too. I noticed that when it was slow it looked like nothing was happening, but this should fix it.

In chrome open the Network panel, and choose the speeds from this menu:
![screen shot 2017-10-23 at 4 27 24 pm](https://user-im

[2017-10-24 04:33] cklosowski commented on #188
I think there is some value to the 'caching' option, and it's mostly in the case of using compression.

A few improvements I can think of would be to restrict the use of caching to when there are more than 1 file to deliver, so we're not continuously running the .zip functions on a group of files. That could be detrimental to their server's CPU, bandwidth, and if large enough disk space quotas.

T

[2017-10-24 14:30] mintplugins commented on #200
As of this moment, this is confirmed fixed in #152

[2017-10-24 14:37] dannyb195 commented on #145
Please note the purchase_key was added here, https://github.com/easydigitaldownloads/edd-free-downloads/blame/release/2.2.0/includes/download-actions.php#L299, possibly rendering this issue moot.

[2017-10-24 14:59] dannyb195 commented on #152
concerning https://github.com/easydigitaldownloads/edd-free-downloads/issues/152#issuecomment-338825622 I did debate putting a spinner in on beforeSend during the ajax call, this wouldn't be difficult if needed.

[2017-10-24 15:28] mintplugins commented on #152
Confirmed Direct Download is also working now 👍

[2017-10-24 15:34] dannyb195 commented on #211
testing against current status of branch issue/152-v2 this is still an issue... current settings:

<img width="508" alt="screen shot 2017-10-24 at 10 33 56 am" src="https://user-images.githubusercontent.com/247887/31952714-e183b2b8-b8a6-11e7-8c59-4a1fcb9f6fab.png">

[2017-10-24 15:39] dannyb195 commented on #118
PR at https://github.com/easydigitaldownloads/edd-free-downloads/pull/212/files

[2017-10-24 17:23] mintplugins commented on #152
When you have user registration enabled, it is showing required asterisks. However, I can leave those fields blank and the form submit without requiring me to fill them out.  Related:
https://github.com/easydigitaldownloads/edd-free-downloads/issues/93

[2017-10-24 18:07] cklosowski commented on #145
I'm updating this issue title, after some discussions with @SDavisMedia. The purchase key would be more than enough for someone to get custom purchase data into a custom redirect with a template file. It'll be included on any redirects performed by the new modal, except for auto-download

[2017-10-24 18:11] SDavisMedia commented on #145
Yup! That'll do!

[2017-10-24 18:47] cklosowski commented on #188
To outline the changes I believe would make the most sense here @dannyb195
1) Add an option in the cache settings (only visible when caching is available) allowing the store owner to set the number of hours for the cached files to exist.
2) Only apply the caching when the files are not local _AND_ when multiple files exist. (if it's remote and/or is only one file, we shouldn't use the .zip caching

[2017-10-24 18:50] cklosowski commented on #145
Sweet we'll close this along side #152 then.

[2017-10-24 18:50] cklosowski commented on #110
I'm removing 'modal rewrite' since that will not resolve this issue. That label should only be used for items that will be completed within that PR.

[2017-10-24 18:52] cklosowski commented on #93
I would actually say this should respect the results of `edd_no_guest_checkout()`. I want to do this outside of #152, once that's merged in.

[2017-10-24 18:53] cklosowski commented on #93
By following the EDD setting, we reduce the need for another setting in FD that is hidden by JS.

[2017-10-24 18:54] #151 closed

[2017-10-24 19:02] dannyb195 commented on #188
got started before I saw your comment though work is happening at https://github.com/easydigitaldownloads/edd-free-downloads/tree/issue/188

[2017-10-24 20:06] cklosowski commented on #152
I've merged this branch, going to leave it open for now, in case we find anything else while we're going through the rest of the `2.2.0` milestone.

[2017-10-24 20:07] #120 closed

[2017-10-24 20:07] #124 closed

[2017-10-24 20:07] #132 closed

[2017-10-24 20:07] #145 closed

[2017-10-24 20:07] #199 closed

[2017-10-24 20:07] #200 closed

[2017-10-24 20:07] #130 closed

[2017-10-24 20:54] dannyb195 commented on #188
@cklosowski after working on this for a bit I think we also need to write to the download post object as well as a timeout option.  Writing to the download post object will allow us to check the size of the zipped file thus being able to determine if remote files have changed.

[2017-10-25 01:12] cklosowski commented on #188
@dannyb195  Just realized I contradicted myself in my last 2 comments. One says 'non remote' and the 2nd one says 'non local'.

Since stating the MD5 of a remote file negates the purpose of this whole MD5 thing since you'd have to pull down the file in general to MD5 is (causing the delay again while downloading it), thats whey the cache time is the most important.

A file size check could actuall

[2017-10-25 14:38] dannyb195 commented on #188
@cklosowski  So the current status of https://github.com/easydigitaldownloads/edd-free-downloads/tree/issue/188 will recreate a zip file based upon a timeout (current using MINUTE_IN_SECONDS for testing). But yes lets chat today to rubber-duck this issue.

*Note* the mentioned branch is not merge / PR ready

[2017-10-25 15:28] SDavisMedia opened #214 "No log entry created when downloading files from modal"
Downloads -> Reports -> Logs ... filtered by `File Downloads`

When using the Free Downloads modal, no log entry is created for downloaded product files.

[2017-10-25 18:27] dannyb195 commented on #121
Given the modal rewrite in #152 I believe this is already taken care of.

Testing:
1. Logged in as a Subscriber
2. Click a download button

Expected results: Form would be populated with current user information

Observed result:

<img width="402" alt="screen shot 2017-10-25 at 1 24 59 pm" src="https://user-images.githubusercontent.com/247887/32015867-f7d328e6-b987-11e7-8f33-3632d52cdda9.png">

Th

[2017-10-25 18:30] dannyb195 commented on #121
After re-reading the original comment, it seems that we need an "already have an account" link which would trigger a WP login modal form.

[2017-10-25 19:10] dannyb195 commented on #188
PR in progress at https://github.com/easydigitaldownloads/edd-free-downloads/pull/216

[2017-10-25 19:11] dannyb195 commented on #188
On 10/25/2017 @cklosowski and I decided to go with a time based cache clearing option (defaulting to 1 hour) as well as a save_post action to clear individual zipped files for multi-file downloads.

[2017-10-25 22:35] cklosowski commented on #110
Ok @easydigitaldownloads/core-devs this is ready for some testing. Here's the low-down:

1) Adds a group of settings under the `Processing` section
a) Require verification
b) The message to show in the modal
c) The subject line of the email (supports all EDD Email tags, including the 2 new ones listed next)
d) The email content itself (supports all EDD Email tags, including the 2 new ones listed n

[2017-10-26 15:28] dannyb195 commented on #188
PR at https://github.com/easydigitaldownloads/edd-free-downloads/pull/216

[2017-10-26 16:55] mintplugins commented on #110
@cklosowski This is awesome! However, it is giving me a 500 error on the ajax response:

<img width="1440" alt="screen shot 2017-10-26 at 10 55 17 am" src="https://user-images.githubusercontent.com/1638128/32066166-2d5d3ede-ba3c-11e7-98b4-920136d2de73.png">

[2017-10-26 17:00] cklosowski commented on #110
@mintplugins can you check your PHP error logs and let me know what the error is please?

[2017-10-26 17:56] dannyb195 commented on #214
Clearing out all FD settings (thus ending up on the confirmation page) does create a log me for in both master (96c3203) and release/2.2.0 (c6ae204).

This said, if the `on-complete handler` is set to `auto download` a log _is not_ created. I am considering this the focus of this issue for now.

[2017-10-26 18:10] mintplugins commented on #110
That error was my bad - I had an MU plugin installed that was causing an error.

This is working great for me. Download link in email works and payment status is set to completed upon verification. 👍

[2017-10-30 14:39] dannyb195 commented on #214
PR at https://github.com/easydigitaldownloads/edd-free-downloads/pull/218/files

[2017-10-30 16:38] cklosowski commented on #214
Since downloading from the purchase confirmation uses a normal download link generation...it's not expected that Free Downloads handle that link, the only time it should be free Download's responsibility to make a long entry is when a file is auto-downloaded.

[2017-10-30 16:48] pippinsplugins commented on #110
This is all working well for me!

[2017-10-30 18:04] cklosowski commented on #214
@easydigitaldownloads/core-devs this is ready for testing.

[2017-10-30 19:10] dannyb195 commented on #93
PR at https://github.com/easydigitaldownloads/edd-free-downloads/pull/219

[2017-10-30 19:17] cklosowski commented on #188
Ok this is working for me, some testing details:
* File time is defaulted to 1 hour. If you want to test it further you can replace the code that states file time + cache expiration setting with something like `file time + MINUTE_IN_SECONDS` for faster testing
* Upon saving a download, _all_ cached files for that download are deleted, as to support variable pricing and multi-purchase mode. (we are

[2017-10-30 19:17] cklosowski commented on #188
@easydigitaldownloads/core-devs if you guys could put this through the wringer, that'd be awesome.

[2017-10-30 20:20] cklosowski commented on #118
@easydigitaldownloads/core-devs this is ready for more testing.

[2017-10-30 22:00] mintplugins commented on #118
Pretending I'm a user, I'm having trouble understanding these settings at first glance:

Could we clarify this a bit better?
`Disable Purchase Confirmation`
`Check to disable purchase emails for non-admin users for free products.`

Purchase confirmation to whom? The customer? Every non-admin user? I'm confused.

Also there's a spelling mistake here (notifications):
`Disable Admin Sales Notificatio

[2017-10-30 22:02] cklosowski commented on #118
The first should not reference non-admin. It's just simply our normal
purchase confirmation email.

On Oct 30, 2017 3:00 PM, "Phil Johnston" <notifications@github.com> wrote:

[2017-10-30 22:32] mintplugins commented on #118
Tested disabling both, and each option individually - all work as expected 👍

[2017-10-30 23:55] #118 closed

[2017-10-31 00:09] #188 closed

[2017-10-31 00:16] #214 closed

[2017-10-31 00:52] cklosowski commented on #93
Ready for testing @easydigitaldownloads/core-devs

This allows you to show the registration fields, and it respects the edd setting to disable guest checkout.

[2017-10-31 00:53] cklosowski commented on #152
I'm comfortable closing this now.

[2017-10-31 00:53] #152 closed

[2017-10-31 14:55] pippinsplugins commented on #93
This is working great for me, merging.

[2017-10-31 14:55] #93 closed

[2017-10-31 15:05] pippinsplugins commented on #192
I have tested with and without cache enabled.

[2017-10-31 15:11] dannyb195 commented on #192
With my above server config I cannot reproduce what @pippinsplugins has reported (zero bytes files).

<img width="621" alt="screen shot 2017-10-31 at 10 10 44 am" src="https://user-images.githubusercontent.com/247887/32231522-cc8e7b5e-be23-11e7-9847-26dde3a22481.png">

<img width="428" alt="screen shot 2017-10-31 at 10 11 09 am" src="https://user-images.githubusercontent.com/247887/32231536-db4596

[2017-10-31 15:17] pippinsplugins commented on #192
@dannyb195 can I see a screenshot of the following please?

1. The product edit screen showing the download files
2. Downloads > Settings > Extensions > Free Downloads
3. Downloads > Settings > Misc > File Downloads

[2017-10-31 15:24] dannyb195 commented on #192
1.
<img width="1196" alt="screen shot 2017-10-31 at 10 21 01 am" src="https://user-images.githubusercontent.com/247887/32232081-3c4a4184-be25-11e7-910a-9ef20fb8e422.png">

2.
<img width="824" alt="screen shot 2017-10-31 at 10 22 32 am" src="https://user-images.githubusercontent.com/247887/32232188-7bd6e87a-be25-11e7-9d19-736828019607.png">

3.
<img width="1084" alt="screen shot 2017-10-31 at 10 23

[2017-10-31 15:27] pippinsplugins commented on #192
@dannyb195 try again with `Bypass if logged in` unchecked. Also purge the cache.

[2017-10-31 15:29] pippinsplugins commented on #192
No matter what configuration I try for Free Downloads, the files in the zip archive are always zero bytes.

[2017-10-31 15:30] pippinsplugins commented on #192
I've also tried with and without Dropbox / Amazon S3 activated.

[2017-10-31 15:31] pippinsplugins commented on #204
@cklosowski moved this to 2.2 instead of 2.1.9.

[2017-10-31 16:38] dannyb195 commented on #192
With `bypass if logged in` _unchecked_ I am redirected to the core EDD confirmation page even with the `On-Complete Handler` set to `auto download`. Tested both logged in and logged out.

[2017-10-31 16:38] cklosowski commented on #192
@dannyb195 did you have a file attached to that item? In the event that auto-download is enabled, but there are no files on that specific download it will go to the purchase confirmatoin

[2017-10-31 16:48] pippinsplugins commented on #192
@cklosowski closer but still incorrect behavior.

My zip file only contains one file now instead of two:

<img width="563" alt="screen shot 2017-10-31 at 11 48 38 am" src="https://user-images.githubusercontent.com/1034109/32236892-799232a2-be31-11e7-8b60-c58b8aa397e1.png">
<img width="1169" alt="screen shot 2017-10-31 at 11 48 43 am" src="https://user-images.githubusercontent.com/1034109/32236893-

[2017-10-31 16:50] cklosowski commented on #192
Interesting, mine all contain the correct ones. I tihnk I was testing with variable pricing and price assignments for the files...i'll go single price and give that a whirl.

[2017-10-31 17:13] cklosowski commented on #192
We've decided to close this. Something is going on with pippin's tests, but everything oethers can do aren't replicating this. we can open a new issue if this arrises more.

[2017-10-31 17:13] #192 closed

[2017-11-02 15:27] pippinsplugins commented on #110
Looks like this isn't quite working in some cases.

I enabled it on restrictcontentpro.com and then tested it. The email is sent fine but I  get an error while verifying the email: `Error processing download of EDD Member Downloads`

URL provided: `https://restrictcontentpro.com/index.php?edd_action=free_download_verify&token=53b900468e8549a5ce7b489492c5f10a&key=c7ba99a4e3b17a147a9d25293ac5dd57&ve

[2017-11-02 15:28] pippinsplugins commented on #110
It's happening on affiliatewp.com too.

[2017-11-02 15:32] cklosowski commented on #110
Did you use the same browser you requested the link in? It's a nonced URL.

On Nov 2, 2017 8:28 AM, "Pippin Williamson" <notifications@github.com>
wrote:

[2017-11-02 15:32] cklosowski commented on #110
If need be, we can remove the nonce.

On Nov 2, 2017 8:32 AM, "Chris Klosowski" <cklosowski@gmail.com> wrote:

[2017-11-02 15:33] pippinsplugins commented on #110
Oh, no I did not.

Let's remove the nonce. That's going to fail too frequently.

[2017-11-02 15:34] cklosowski commented on #110
Ok as long as we know it can lead to verification sharing. Maybe we swap
the nonced for an expiry

On Nov 2, 2017 8:33 AM, "Pippin Williamson" <notifications@github.com>
wrote:

[2017-11-02 15:39] pippinsplugins commented on #110
Expiry could work well, just like our user verification in core.

On Thu, Nov 2, 2017 at 10:34 AM, Chris Klosowski <notifications@github.com>
wrote:

[2017-11-02 15:46] samikeijonen commented on #207
Im still kind of wondering where we need mobile detection?

[2017-11-02 16:31] cklosowski commented on #110
I was thinking of just using our download link expiration time. So the free download verification link only works for whatever your normal download links work for. That way it cannot be shared, and we don't have to introduce a new setting, and it's customizable, and follows expectations of the existing platform.

[2017-11-02 17:27] cklosowski commented on #110
Reopening this issue for the tracking of switching to an expiration.

[2017-11-02 18:16] mintplugins commented on #110
Tested and this is working as expected. I filled out the modal in incognito, checked and clicked the email verification in non-incognito, and the download worked. Additionally, making any change to the URl at all causes it to fail.

If I change the token, it gives a general error
`Error processing download. Please contact support.`

If I change the ttl it gives a product-specific error:
`Error pro

[2017-11-12 22:54] mintplugins opened #222 "Using any language except English results in custom "Download Now" option not being used"
If you switch your translation to any language except English, it will use the translated value for the "Download Now" button's text instead of what you've filled out in the settings for Free Downloads.

I believe this bug came into existence here:
https://github.com/easydigitaldownloads/edd-free-downloads/issues/98

I have narrowed the break down to happening here:
https://github.com/easydigitald

[2017-11-13 15:24] pippinsplugins commented on #204
This is still happening unfortunately. Investigating.

[2017-11-13 15:28] pippinsplugins commented on #204
Looks like it's failing for S3 because the file is being pulled from cache even though the caching is disabled:

[code]

The file requested is from S3 from the `$download_url` came out as `https://site.com/wp-content/uploads/edd-free-downloads-cache/SAWTB.zip1`.

[2017-11-13 15:37] pippinsplugins commented on #204
Actually this was failing because we were looking for ` $GLOBALS['edd_s3']`, which is no longer set in EDD S3 2.3+.

[2017-11-13 15:40] #204 closed

[2017-11-13 15:40] pippinsplugins commented on #204
Deploying beta-3.

[2017-11-13 16:20] pippinsplugins opened #224 "Set form float to none to defend against aggressive themes"
<img width="1553" alt="screen shot 2017-11-13 at 10 19 22 am" src="https://user-images.githubusercontent.com/1034109/32736051-25e11094-c85c-11e7-8765-c98e788abaf0.png">

The above screenshot shows what happens to the download modal when a theme is overly aggressive and sets a float on the `form` element.

Let's add `float:none` to our form and form fields to defend against this.

[2017-11-16 22:18] cklosowski commented on #211
Just confirmed this is fixed in the `release/2.2.0` branch. Logged in user, auto complete handler is "Purchase Confirmation" and bypass when logged in sent me to the purchase confirmation.

[2017-11-16 22:18] #211 closed

[2017-11-16 22:19] cklosowski commented on #110
Closing this out as it was merged an in beta, and seems to be working well.

[2017-11-16 22:19] #110 closed

[2017-11-16 22:33] cklosowski commented on #224
To replicate:

Setup a child theme of vendd and add the following style to the `styles.css` file:
[code]

[2017-11-16 22:35] #224 closed

[2017-11-16 23:45] cklosowski commented on #222
@mintplugins Am I missing something? I set my site to German (Deutsch) and this is my

Settings:
![screen shot 2017-11-16 at 4 44 58 pm](https://user-images.githubusercontent.com/1390124/32922048-956a711a-caed-11e7-81d2-c590c68afe06.png)
Modal and button:
![screen shot 2017-11-16 at 4 45 03 pm](https://user-images.githubusercontent.com/1390124/32922050-9a606562-caed-11e7-80dc-9b31f6d5d9ff.png)

[2017-11-17 00:18] mintplugins commented on #222
Hmm. Do you have french?

[2017-11-17 00:19] mintplugins commented on #222
The text itself does need to actually be in a different language I think.

[2017-11-17 23:52] cklosowski commented on #222
@mintplugins and I discussed this over Zoom. I have a good idea how to replicate now.

[2017-11-28 17:07] cklosowski commented on #222
@mintplugins this is ready to test!

[2017-11-28 17:21] mintplugins commented on #222
Looks good!

[2017-11-28 18:01] #222 closed

[2017-12-03 17:11] samikeijonen commented on #126
I still see the is mobile check and I still don't know why it's used?

[2017-12-04 15:16] mintplugins opened #229 "Modal unable to be re-opened"
If you open the new modal from 2.2.0, close it, and then try to re-open it, nothing happens.

Additionally, it gives an ajax error on the first load in the console. This may be the cause of further opening issues:

<img width="1440" alt="screen shot 2017-12-04 at 10 15 34 am" src="https://user-images.githubusercontent.com/1638128/33559877-302337f4-d8dc-11e7-9792-a105263fecc6.png">

[2017-12-04 15:38] mintplugins opened #230 "No redirect after form submission in Firefox"
If you have the "On Complete Handler" set to show "Purchase Confirmation", in Chrome it properly directs to the Purchase Confirmation despite the error being present.

But in Firefox it simply closes the modal and nothing else happens.

Possibly related:
https://github.com/easydigitaldownloads/edd-free-downloads/issues/229

[2017-12-04 19:12] pippinsplugins commented on #126
@samikeijonen I'm milestoning this for 2.2.2 to make sure we get some eye's on it soon.

[2017-12-04 19:26] samikeijonen commented on #229
I confirm that I noticed the same.

[2017-12-04 21:06] mintplugins commented on #229
I've fixed this by removing the `edd-add-to-cart` class on the Free Downloads button. Everything works correctly now in my tests.

The only drawback to this is that some theme authors may have used that class to style the `Add To Cart` button, and those styles won't automatically apply to the Free Downloads button any more.

Those theme authors will want to style the `edd-submit` class instead.

[2017-12-04 21:08] mintplugins commented on #230
The problem was that the closing of the modal after submission meant Firefox didn't have the form on the screen anymore, and thus did not submit it.

It seems to be some sort of strange timing issue in Firefox in that the form is submitted after the modal was closed, even though the code is in the opposite order.

Leaving the modal open allows it to submit properly.

[2017-12-04 23:22] mintplugins commented on #229
I have tested this in both single, variable, and multi-price option mode. All are working well.

[2017-12-05 01:57] pippinsplugins commented on #230
This looks good to me.

[2017-12-05 01:58] pippinsplugins commented on #229
@mintplugins could you test in all of our main EDD themes to confirm they all style it properly?

[2017-12-05 16:20] mintplugins commented on #229
@pippinsplugins I just tested in TwentySeventeen, Themedd, Vendd, and Marketify. All style it correctly.

[2017-12-05 17:02] mintplugins commented on #230
Merged

[2017-12-05 17:02] #230 closed

[2017-12-05 17:45] SDavisMedia commented on #229
Tested here as well. All good on my end. :+1:

[2017-12-05 19:30] mintplugins commented on #229
Merged!

[2017-12-05 19:32] #229 closed

[2017-12-14 05:22] SDavisMedia opened #233 "No customer attached to payment record with modal bypass"
I'd say this is a continuation of https://github.com/easydigitaldownloads/edd-free-downloads/issues/196#issuecomment-337034672 but deserving of a fresh issue.

If you have the modal bypass feature enabled and from a logged in account you attempt to download a file, the payment record is created but no customer record is attached to it and no email address is recorded.

<img width="1343" alt="scree

[2017-12-14 05:26] SDavisMedia commented on #233
Oops, key detail here is that the logged in account **does not** already have a customer record. So you need to be logged into a WP user account that has never made a  purchase. Then you try to bypass the modal and download the product. The customer record is not created, and therefore not attached to the payment.

On those records, `_edd_payment_user_id` has a value of `0`.

[2017-12-20 23:42] mintplugins opened #234 "Direct Download does not work"
If you enable the "Direct Download" option and put the [edd_free_download] shortcode onto a page, clicking `No thanks I'll download it anyway` will change the URL, but nothing will happen.

Example shortcode usage:
`[edd_free_download download_id="155"]Test[/edd_free_download]`

The URL becomes this, but again, nothing actually downloads:
https://edd2.dev/free-downloads/free-downlods-shortcode/#ed

[2017-12-21 15:45] sunnyratilal commented on #233
PR: #235

[2017-12-21 17:37] cklosowski opened #236 "Add 'loading' state between overlay and modal form loading."
On a slow site, the dark overlay comes in, but then there is a slight delay before the modal form shows. There should be a state in between bringing the overlay into view and the form loading that is a 'loading' state. A spinner or something.

[2017-12-21 18:04] SDavisMedia commented on #233
@sunnyratilal This is properly creating the new customer but it looks to be using the customer's email address as both the first and last name. https://cl.ly/3O3e3R240G1T

When someone registers to the site using a form like `[edd_register]`, they aren't given first and last name fields. So this could be a common occurrence.

(If the first and last names are saved for the user before the free down

[2017-12-21 18:31] SDavisMedia opened #237 "Undefined offset notice when bypassing modal while logged in with no customer record"
Noticed this while replicating and testing #233 ... meaning it happens on both `master` and `issue/233`.

To replicate:

1. From an admin account, make sure the Bypass (Modal) If Logged In setting is on
2. Log into a separate WP user account that has not made any purchases in EDD... so no customer record
3. "Purchase" a free download, so you're bypassing the modal

You should get: `Notice: Undefin

[2017-12-25 16:28] MapSteps opened #238 "Doesn't work with Auto Register"
He guys,

I've just tested the new (2.2.1) version on one of my installs and figured it that no accounts get created using the Auto Register Plugin.

Best,
David

[2017-12-26 15:37] pippinsplugins commented on #238
@MapSteps have you enabled the option to create accounts in Downloads > Settings > Extensions > Free Downloads?

[2017-12-29 06:53] MapSteps commented on #238
Hey @pippinsplugins,

thanks for your reply! I think I'm missing something, the only option I got is to "Bypass Auto Registration".

[2018-01-02 22:25] mintplugins commented on #234
The issue seems to be the direct download link in general - not just when using the shortcode

[2018-01-02 23:07] mintplugins commented on #234
There's some inconsistent behaviour here.

The problem is caused by the fact that `#edd-free-download-modal` is added to the URL when the modal opens. It then tries to add URL variables to the url after the hash - which browsers don't understand. Notice the question mark after the `#` in this URL:

`https://edd2.dev/free-downloads/free-downlods-shortcode/#edd-free-download-modal?edd_action=free_do

[2018-01-04 03:30] mintplugins commented on #234
This is ready for testing

[2018-01-04 03:32] mintplugins opened #240 "Files uploaded over http don't auto download if the site is https"
If a file was uploaded and saved with `http`, then the site switches to use https, the file will open in the browser instead of downloading if the Free Download setting is "auto download".

[2018-01-04 03:33] mintplugins commented on #240
Note that these same files download properly in forced mode through EDD core - without using Free Downloads

[2018-01-05 21:01] pippinsplugins commented on #234
Replicated bug on master and confirmed fix on `issue/234`. Merging.

[2018-01-05 21:02] #234 closed

[2018-01-05 21:04] #240 closed

[2018-01-06 04:42] pippinsplugins opened #242 "Add integration for Terms Per Products"
We've had a customer that tried to use Terms Per Product with Free Downloads, which is not currently supported.

It would be nice to make these work seamlessly together.

Customer ticket: https://secure.helpscout.net/conversation/497088062/73276?folderId=180505

[2018-01-08 18:26] mintplugins opened #243 "Minified version of edd-free-downloads.js was not committed for version 2.2.2"
While the issue with direct downloads was fixed, a minified version of the modified JS file was not committed prior to the update. I'll minify and merge this now. Once I do I'll push out version 2.2.3

Related: https://github.com/easydigitaldownloads/edd-free-downloads/issues/234

[2018-01-08 18:38] mintplugins commented on #243
Once I get confirmation from @kerijacoby I'll merge this and push out the update

[2018-01-08 18:49] mintplugins commented on #243
Confirmed! Merging.

[2018-01-08 18:49] #243 closed

[2018-01-09 22:42] mintplugins opened #246 "Bypass modal not working since last update"
The jQuery click detector for the edd-free-downloads-direct-download-link was removed from the last version, where direct download links were fixed.

[2018-01-09 23:13] #246 closed

[2018-01-15 21:43] tongdaitructuyen opened #248 "Mobile is error"
I check required verified Email, Desktop working, but mobile do not working, please view image attach.
Thank
![9023054693031279007](https://user-images.githubusercontent.com/5338282/34962782-c8f542f8-fa77-11e7-801f-c849ddf147e7.png)

[2018-01-16 00:10] pippinsplugins commented on #248
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2018-01-16 00:10] #248 closed

[2018-01-16 21:08] mintplugins opened #249 "No modal opens on Mobile for Variable product"
If you are on mobile and click to download a variable (non single) product, the modal does not open.

It works on single and redirects the user to a URL like this:
`https://eddtests.com/downloads/test/?edd-free-download=true&download_id=378`

But if the product has variable pricing, the modal does not work, again, only on mobile. It gives this:
`https://eddtests.mintplugins.com/downloads/free-with

[2018-01-18 18:27] cklosowski opened #250 "Compatibility with MailChimp 3.0"
It appears that there is a bug in the MC 3.0 integration with free downloads:
[code]

This is giving a `null` for `global $edd_mc`

[2018-01-18 18:42] cklosowski commented on #250
Reported in HS: https://secure.helpscout.net/conversation/507987547/74362?folderId=180499

[2018-01-18 18:53] SDavisMedia commented on #250
Yup. Replicate and confirmed fixed for me on `issue/250`. :+1:

[2018-01-18 19:13] #250 closed

[2018-01-19 21:19] mintplugins commented on #233
Replicated what Sean found. Traced it back and it looks like EDD_Payment uses the email address for the name this if the name passed-in is blank:

https://github.com/easydigitaldownloads/easy-digital-downloads/blob/62a524c7b890d7daa57eab1921de938189d094f7/includes/payments/class-edd-payment.php#L2759-L2761

So that looks to be an issue with EDD Core, if that's something we think shouldn't happen.

[2018-01-20 10:41] #233 closed

[2018-01-25 17:06] cklosowski opened #252 "Add error handling to edd_free_downloads_remove_optin for MC 3.0"
So in 2.2.5 we added a check to allow use of both pre-MailChimp 3.0 and post-MailChimp 3.0 subscribing. However, if for some reason there is not a default list, it can still fail, so we just need to add some error handling to it.

[2018-01-25 21:21] #252 closed

[2018-02-09 02:16] pippinsplugins opened #254 "Wrong newsletter lists used in MailChimp"
If opt-in is enabled in the FD settings, the MailChimp integration assumes that we should be using the default list in MailChimp, which is wrong.

We need to _always_ use the list that is selected on the product and then, if no list is selected, fallback to the default list.

[2018-02-09 02:18] pippinsplugins commented on #254
Turns out this affects all email integration.

[2018-02-14 16:22] mintplugins commented on #238
I have replicated this issue. Auto register no longer registers users through Free Downloads. This is because Auto Register runs the `maybe_insert_user` function by hooking to the `edd_insert_payment` hook, which only runs during the `edd_insert_payment` function, which is a [legacy](https://github.com/easydigitaldownloads/easy-digital-downloads/issues/6325) function.

This will either have to be

[2018-02-14 16:28] pippinsplugins commented on #238
Let's fix in FD by changing the hook used here.

[2018-02-14 16:32] mintplugins commented on #238
@pippinsplugins I don't think we can fix it in Free Downloads without overhauling it to use the legacy function. But we can fix it in Auto Register by changing the hook there (I think that might be what you mean, but just confirming to be clear).

[2018-02-14 22:16] pippinsplugins commented on #238
@mintplugins PR looks good (haven't tested yet). Ready for it to be tested?

[2018-02-16 17:48] mintplugins commented on #238
@pippinsplugins PR has been tested and modified as per your review now

[2018-02-16 17:52] pippinsplugins commented on #238
Merged!

[2018-02-16 17:52] #238 closed

[2018-03-01 20:40] pippinsplugins commented on #254
I'm going to fix this with MailChimp only. At the moment that's the only one causing problems.

[2018-03-01 20:55] pippinsplugins commented on #254
This depends on https://github.com/easydigitaldownloads/edd-mail-chimp/issues/58 being fixed.

[2018-03-01 21:39] pippinsplugins commented on #254
@mintplugins could you please give this a test? Note, use the latest `master` version of EDD MailChimp.

[2018-03-02 01:48] mintplugins commented on #254
Just confirming the problem and solution:

Previously, the product-specific lists were being ignored for Free Downloads, and now the user should be subscribed to both the product-specific lists and the default list?

[2018-03-02 01:48] mintplugins commented on #254
@pippinsplugins

[2018-03-02 02:30] mintplugins commented on #254
I am getting this error when doing a free download on `issue/254`:

[code]

The error is not happening on Free Downloads `master`

[2018-03-02 02:32] mintplugins commented on #254
Opps - I wasn't on MC master. It is working there...confirming...

[2018-03-02 02:33] mintplugins commented on #254
Customer was successfully added to both the default list and the product-specific lists, including product-specific interest groups.

[2018-03-02 19:13] dashkevych opened #256 "Undefined variable: download_id"
It looks like there is a small issue (**Version 2.2.7**) which causes PHP Notice. I've recently checked my log file and it shows me this:

PHP Notice:  Undefined variable: download_id in:
 - edd-free-downloads/templates/download-modal.php on line 166
 - edd-free-downloads/templates/download-modal.php on line 170

[2018-03-08 04:02] pippinsplugins commented on #254
@mintplugins is the default list assigned to the product too? We don't want to assign to the default list through FD. At least I don't think we do.

[2018-03-08 06:31] mintplugins commented on #254
I believe we do because it would follow the way a normal purchase works.

[2018-03-08 21:12] pippinsplugins commented on #254
FD intentionally unhooks the default subscribe actions so that's not supposed to be happening. I'll have to double check to see if it's acting like I intended.

[2018-03-09 01:53] pippinsplugins commented on #254
Ok I think this is right after all. Merging and releasing.

[2018-03-09 01:54] #254 closed

[2018-03-09 01:54] #256 closed

[2018-03-16 14:39] mintplugins opened #258 "On-Complete Handler "Auto Download" directing to purchase confirmation"
I have the On-Complete Handler set to "Auto Download". Whether logged in or out, I am getting the purchase confirmation page instead of it auto downloading and remaining on the same page.

Here are my settings for anyone that wishes to attempt a replication:
<img width="1054" alt="screen shot 2018-03-16 at 10 38 00 am" src="https://user-images.githubusercontent.com/1638128/37526580-2478d4ca-2906-1

[2018-03-16 15:49] SDavisMedia commented on #258
@mintplugins I can't seem to replicate. What's your EDD version and server environment?

[2018-03-16 15:52] mintplugins commented on #258
hmm maybe it's a weird local thing:

### Begin System Info ###

-- Site Info

Site URL:                 https://edd2.dev/free-downloads
Home URL:                 http://edd2.dev/free-downloads
Multisite:                Yes

-- Hosting Provider

Host:                     DBH: localhost, SRV: edd2.dev

-- User Browser

Platform:                 Apple
Browser Name:             Chrome
Browser Version:

[2018-03-16 16:14] mintplugins commented on #258
Nevermind me....this was because the file I was downloading had no files attached to it, so there was nothing to download. Thus, it redirected to purchase confirmation.

[2018-03-16 16:14] #258 closed

[2018-03-16 16:18] mintplugins opened #259 "File Download Limit not respected when using Auto Download"
The file download limit from EDD core is not respected when using free downloads. You can keep downloading the product to your heart's content.

....Although now that I'm typing this, I just remembered that each click for Free Downloads generates a new payment record, and the file download limit in EDD core is per payment record. So this is actually not an issue.

I'll just leave this here for doc

[2018-03-16 16:18] #259 closed

[2018-03-16 20:59] cklosowski commented on #237
@SDavisMedia can you drop your Free Downloads configuration into here so we have a unified testing comparison?

[2018-03-16 20:59] cklosowski commented on #237
@SDavisMedia ignore me, that was so long ago that config is by far long gone ;)

[2018-03-17 17:59] SDavisMedia commented on #237
@cklosowski I tried to replicate this again on `master` it seems to work fine. I rolled back to `2.2.1` to see if I could replicate from there. I didn't get the same notice but I did get redirected to a failed purchase confirmation page. The difference in behavior there could be related to settings. Not sure.

So it's hard to say if this is even still an issue.

[2018-03-26 22:17] SDavisMedia opened #260 "Clear cart and fees when processing a free download"
To illustrate why this should happen, follow these steps:

1. Create a Discounts Pro discount that applies to a product in your store.
2. Add that product to the cart and verify that the Discounts Pro discount (negative fee) appears on the cart. Do not complete your purchase.
3. Now go to a free product that uses Free Downloads. Open the modal and "purchase" this product.

You get the following pu

[2018-03-27 02:03] pippinsplugins commented on #260
PR ready for testing.

[2018-03-27 16:12] SDavisMedia commented on #260
That'll do it. Works correctly for me. :+1:

[2018-03-27 18:11] #260 closed

[2018-03-28 18:19] samsono opened #262 "No File Download Link in the Email [Free Purchase]"
I am using an email option to send the download link,
But sometimes the email has no download link at all, This issue happening regularly.
Kindly Suggest me to fix this issue.

Thanks
Sam

[2018-03-28 19:05] pippinsplugins commented on #262
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2018-03-28 19:05] #262 closed

[2018-04-03 14:31] mintplugins opened #263 "Opt-in checkbox must be unchecked by default"
In order to comply with anti-spam laws in Canada and GDPR-type laws in the EU, opt-in checkboxes must be unchecked by default.

![uncked-by-default](https://user-images.githubusercontent.com/1638128/38255577-26e6eaf8-372a-11e8-87eb-cc9cd6a9a7eb.jpg)